[2014-09-15 18:28] pfankhauser opened #1 "Add example to show usage of this library."

[2014-12-12 16:36] pfankhauser opened #4 "Use simple string instead of std_msgs/String[] in message definitions."

[2014-12-17 18:02] #4 closed, assigned to pfankhauser

[2015-01-03 11:51] pfankhauser opened #5 "Rename grid_map_lib to grid_map_core"

[2015-03-17 13:58] pfankhauser opened #7 "Add `addEmpty` method."

[2015-03-17 18:46] #5 closed

[2015-03-17 18:46] pfankhauser commented on #5
Done.

[2015-03-30 15:12] pfankhauser opened #9 "Add to ros.org"
http://wiki.ros.org/rosdistro/Tutorials/Indexing%20Your%20ROS%20Repository%20for%20Documentation%20Generation

[2015-03-30 17:07] pfankhauser commented on #7
Done with

`void add(const std::string& layer, const double value = NAN);`

[2015-03-30 17:07] #7 closed

[2015-03-30 17:07] pfankhauser commented on #1
Done with `grid_map_demos`.

[2015-03-30 17:07] #1 closed

[2015-03-30 17:35] #9 closed

[2015-04-01 16:45] pfankhauser opened #12 "Test for ROS Jade."

[2015-05-11 07:28] pfankhauser commented on #12
Done.

[2015-05-11 07:28] #12 closed

[2015-07-01 11:28] pfankhauser opened #19 "Fix layer handling for `clearCols` and `clearRows`."

[2015-07-18 04:44] ysonggit opened #20 "README.md line 127: description typo"
Line 127:
     for (grid_map::GridMapIterator iterator(map); !iterator.isPassedEnd(); ++iterator) {

should be:
     for (grid_map::GridMapIterator iterator(map); !iterator.isPastEnd(); ++iterator) {

[2015-07-20 09:11] pfankhauser commented on #20
Thanks Yang Song for pointing this out!

[2015-07-20 09:11] #20 closed

[2015-08-27 16:05] pfankhauser commented on #19
Fixed in https://github.com/ethz-asl/grid_map/pull/22.

[2015-08-27 16:05] #19 closed

[2015-11-23 20:48] pfankhauser opened #28 "Failing unit tests under ROS Jade."
[code]

[2015-11-24 15:15] pfankhauser commented on #28
Fixed with 60ecceebe49ecd032ff9368eea492caa971ec064.

[2015-11-24 15:15] #28 closed

[2016-02-10 12:55] bit-pirate opened #33 "origin conflict when converting from grid map to occupancy grid"
I started playing around with this library and as a first test I implemented a "round trip conversion": `nav_msgs::OccupancyGrid`-> `grid_map_msgs::GridMap` -> `grid_map::GridMap` -> `nav_msgs::OccupancyGrid`.

The first conversion is done by my own implementation (couldn't find an implementation in this library), the second is using `grid_map::GridMapRosConverter::fromMessage` and the last `grid_

[2016-02-10 12:55] bit-pirate commented on #33
@stonier FYI

[2016-02-11 01:42] stonier commented on #33
First issue, I'm guessing its due to the data layout from the top left corner (graphics style). I haven't done a costmap <-> cost_map (aka grid_map) conversion yet, but will shortly so I'll probably experience the same thing.

Second issue, just conventions I think. Pinning the grid_map in the centre or bottom left corner is neither right, nor wrong, just different ways of doing it. So long as all

[2016-02-11 01:48] bit-pirate commented on #33
Regarding the second issue, I think it's fine, if grid map uses it's own convention. Though when converting to occupancy grids, the output should align with the convention (mainly) used within ROS.

[2016-02-11 02:22] stonier commented on #33
I didn't seem to have any problems loading an image into a cost_map (aka grid_map) and then to occupancy grid map - setting the frame id to "map" and cost map position to zero resulted in an occupancy grid oriented in the expected x-direction in rviz. It is using the [same code](https://github.com/stonier/cost_map/blob/indigo-devel/cost_map/src/lib/converter.cpp#L302). Picture [here](https://githu

[2016-02-11 08:23] bit-pirate commented on #33
I'm not changing any position or frame id, but use the source. Please post the pose/origin after your conversion from image (`sensor_msgs::Image`?) to cost_map/grid_map as well as the resulting occupancy grid message.

Here is my implementation of the conversion `nav_msgs::OccupancyGrid` -> `grid_map::GridMap`:

[code]

[2016-02-11 08:34] bit-pirate opened #34 "Release with metapackage"
I find the ROS wiki package documentation quite useful when learning about new code. So far only [`grid_map`](http://wiki.ros.org/grid_map) had a page and so I have started adding empty wiki pages for the other packages as well, e.g. http://wiki.ros.org/grid_map_core).

Now, each package looks quite lonely, since there is no stack/metapackage linking them. Hence, I like to suggest adding a metapac

[2016-02-11 20:09] czalidis commented on #33
@bit-pirate You can **not** just copy the origin from the OccupancyGrid to the GridMap, you have to convert it first. In the OccupancyGrid msg the origin represents the real-word pose of the cell (0, 0), while GridMap's position is w.r.t. the map center, as you can see at the layout that @stonier mentioned.
See here: http://docs.ros.org/api/nav_msgs/html/msg/MapMetaData.html

[2016-02-11 21:00] pfankhauser commented on #33
Thanks a lot, @bit-pirate, @stonier, and @czalidis. I just added the conversion from occupancy map to grid map in the branch `feature/occupancy_to_grid_map`. Could you please test this for your use case? If all works out, I will merged this branch into master. If you have any unexpected behavior, please document it with a unit test which you can create in `GridMapTest.cpp`.

[2016-02-11 21:05] pfankhauser commented on #34
Thanks for the info, a meta package certainly makes sense. Do you suggest me to create a new `grid_map_meta` package, or rename the current `grid_map` package to `grid_map_ros` and use the `grid_map` package as meta package?

[2016-02-12 02:11] bit-pirate commented on #34
I personally like the latter better - logically and it seems also a de-facto standard within ROS - but it's also more work. If you don't mind, go for it. :-)

Metapackage name alternatives: `grid_map_all`, `grid_map_full`

Maybe @stonier has more ideas?

[2016-02-12 02:38] stonier commented on #34
Whatever works :neckbeard:

[2016-02-12 09:44] pfankhauser commented on #33
This issue should is resolved with #36.

[2016-02-12 09:44] #33 closed

[2016-02-15 02:19] bit-pirate commented on #33
Was fighting my own installation on Friday and finally got around testing your changes just now.

Works well for me. :+1: Thanks for this addition!

[2016-02-17 10:12] huang-qiao opened #38 "resize() with initial value?"
Regarding to `GridMap::add(const std::string& layer, const double value)`, we can add layers with initial value. However, `GridMap::resize(const Eigen::Array2i& size)` only resize all layers without filling any data.

If I want to extend all layers with their initial value, is there any way to do that?

Thanks.

[2016-02-18 16:59] pfankhauser commented on #38
The `GridMap::resize(...)` method is actually `private`, so you won't be able to access it from outside. The better way to change the dimensions of your map is to use the `GridMap::setGeometry(...)` method. For example:

``
map.setGeometry(Length(1.2, 2.0), 0.03);
``

Be aware that this method clears all the data in the map. If you want to give all the cells in a layer (or possibly all the layers)

[2016-02-18 16:59] #38 closed

[2016-03-02 15:16] pfankhauser commented on #34
This is resolved in #44.

[2016-03-02 15:16] #34 closed

[2016-03-02 23:32] stonier opened #45 "Iterating w/ speed in mind"
In the [iterators demo](https://github.com/ethz-asl/grid_map/blob/master/grid_map_demos/src/IteratorsDemo.cpp#L54), the iteration is using a string key based lookup to the layers to pull data at every index, which can be slow if you're just wanting to do full iterations over the data.

My first take was just to pull the data matrices for the layers and iterate over them directly, however after und

[2016-03-03 02:23] stonier opened #46 "New api GridMapRosConverter::toMessagePtr()"
Useful if you want to fling around grid map messages in nodelets without copying data.

I can probably contribute this when I start optimising.

[2016-03-03 11:10] pfankhauser commented on #45
Thanks for your comments. You are right that the performance can be increased when locally storing a reference or copy of the data layer. There's actually a node that runs a performance comparison:

    rosrun grid_map_demos iterator_benchmark

In this example, we iterate through a grid map and copy the data from one layer into another if it is bigger in value. For a map of size 5000 x 5000 cells

[2016-03-03 11:17] pfankhauser commented on #45
Here's also an updated version of your example for the fastest execution that I have been able to achieve yet:

    grid_map::Matrix& data_layer_one = my_grid_map.get("layer_one");
    grid_map::Matrix& data_layer_two = my_grid_map.get("layer_two");
    for (grid_map::GridMapIterator iterator(my_grid_map); !iterator.isPastEnd(); ++iterator) {
      const int i = iterator.getLinearIndex();
      //

[2016-03-03 11:18] pfankhauser commented on #46
I'd be happy to integrate this if you take a shot at it, thanks.

[2016-03-03 14:37] stonier commented on #45
Yes, and thanks for the pointer about the getLinearIndex().

You might like to add a comment to the iterators demo program - many programmers (myself included) tend to go directly to code before documents to discover how to do something specific.

[2016-03-03 15:06] pfankhauser commented on #45
Yes, good idea, thanks.

[2016-03-03 15:06] #45 closed

[2016-03-11 13:22] solosuper opened #49 "Scaling of output in GridMapRosConverter::addLayerFromImage"
Hi everyone,
When scaling the `height` in [addLayerFromImage](https://github.com/ethz-asl/grid_map/blob/master/grid_map_ros/src/GridMapRosConverter.cpp#L408), shouldn't the denominator be  `depth - 1`?

[2016-03-14 11:44] pfankhauser commented on #49
Thanks for pointing this out, I think you are right. Is the issue that you experience that full black or white values are not exactly mapped to the specified lower/upper value? What do you think @martiwer?

[2016-03-14 12:26] martiwer commented on #49
Yes, I think the denominator should be `depth - 1 `.

[2016-03-14 14:46] pfankhauser commented on #49
This has been resolved in #50.

[2016-03-14 14:46] #49 closed

[2016-03-16 15:37] stonier opened #51 "GridMap and CostMap messages"
Moving the discussion here from email so there will be a visible, relevant history.

**Proposal** : find a way to have `GridMap` and `CostMap` objects use the same message object.

[2016-03-16 15:39] stonier commented on #51
I actually toyed around with the idea of having a common message - see [here](https://github.com/yujinrobot/grid_map/commit/ca4720e25c7568a9973b942583c60b5029f215d5).

I'm not very keen however on objects like this which in essence become self-describing. Self describing objects have their place, but ros messaging is by and large assumed to be a typed messaging system and this breaks that mould fo

[2016-03-16 15:45] stonier commented on #51
Another thing that could be done is to simply convert the `CostMap` data into floats that get stored in a `GridMap` message and again convert back at the other end.

This is a bit more practical and requires less black magic. With this though, I find a tiny devil perched on my shoulder whispering just how inefficient transmitting floats instead of chars is, and that I shouldn't consider myself a c

[2016-03-16 15:49] stonier commented on #51
One thing that might be practical and useful, would be to move everything except the data into the `GridMapInfo` message. That could be reused by both. Is there a reason the `layers`, `basic_layers`, `outer_start_index`, `inner_start_index` are not in `GridMapInfo`?

[2016-03-16 15:56] stonier opened #52 "CRTP Base XyzMap Class"
Like #51, another idea to bring closer together the `GridMap` and `CostMap` implementations.

I was thinking of a [CRTP](https://en.wikipedia.org/wiki/Curiously_recurring_template_pattern) class, much like Eigen does for it's matrices.

This would have several advantages:
- Move _alot_ of geometry/structural related code that is common to both into the base class.
- Define templatised virtuals in

[2016-03-24 06:40] skohlbr opened #53 "Submap has different size than given in parameters provided to getSubmap()"
I've been running into a problem with maps not matching up that I suspect could be related to mismatching sizes. So what I have is the following: A ```static_map_``` containing standard occupancy data that is fixed wrt to world. I also have a "moving" elevation map ```local_elevation_map_```. I want to fuse the local elevation data to ```static_map_```, adding obstacles based on elevation data.

T

[2016-03-24 07:02] skohlbr commented on #53
Ok, so I managed to make it work using

[code]

I'd still be interested in a more elegant/efficient way of doing this however.

[2016-03-24 11:43] pfankhauser commented on #53
Assuming you have the static and the local maps with following layers
[code]
with different positions, sizes, and resolutions (hence, the grids are not aligned). Instead of the `for`-loop, you can achieve the same directly with:
[code]

Good point about the documentation, I added a comment in e93d7aa38db9fa4cb394c70746a110eb8e050409. Thanks!

[2016-03-24 11:43] #53 closed

[2016-03-24 11:59] skohlbr commented on #53
Thanks for the quick answer, that indeed looks a good bit more elegant and efficient :)

[2016-03-25 12:28] pfankhauser opened #54 "Polygon iterator does not work with moved maps."
See branch `fix/polygon_iterator`.

[2016-03-25 14:09] martiwer commented on #54
Issue fixed

[2016-03-25 14:09] #54 closed

[2016-03-28 17:30] skohlbr opened #56 "Index use inconsistent between toCvImage(..) and addLayerFromImage(..)"
In ```toCvImage``` the order of the index access (1,0) into the ```cv::Mat``` ([code](https://github.com/tu-darmstadt-ros-pkg/grid_map/blob/master/grid_map_ros/src/GridMapRosConverter.cpp#L473)) is exactly in opposite order to access in ```addLayerFromImage``` (0,1) ([code](https://github.com/tu-darmstadt-ros-pkg/grid_map/blob/master/grid_map_ros/src/GridMapRosConverter.cpp#L397)).

This means tha

[2016-03-28 20:11] skohlbr commented on #56
Ok, so getting after getting crashes with non-square ```cv::Mat``` images generated using ```toCvImage``` (and seeing invalid writes in valgrind) I now think this actually has to be fixed in ```toCvImage``` instead of ```addLayerFromImage()```. See #58.

[2016-03-29 15:25] pfankhauser commented on #56
Thanks a lot for your investigations, Stefan. I'm currently working on a round trip unit test for the image conversion. I'll let you know once I have more information.

[2016-04-07 10:15] stonier opened #60 "Changing the resolution of a grid_map"
Without actually changing the lengths, nor the position of the grid_map window.

We've been playing around with something in [cost_map/pull-requests/17](https://github.com/stonier/cost_map/pull/17).

Thoughts?

[2016-04-14 17:54] pfankhauser commented on #56
I have completely rewritten the to image conversions from and to OpenCV images:
https://github.com/ethz-asl/grid_map/tree/fix/image_conversion

There's now a new package `grid_map_cv` which can be used for working with OpenCV on grid maps and is ROS independent. Also, conversions are much faster now.

Could you please check if the methods in this branch are working for your application?

[2016-04-15 17:28] #56 closed

[2016-04-15 17:33] pfankhauser commented on #60
Here are two easy ways to change the resolution of a grid map.
* Create a new grid map with the desired resolution, and use the `addDataFrom(...)` from method to add the data from the source grid map.
* Use the `changeResolution(...)` method of the new `GridMapCvProcessing` class in *grid_map_cv*. This methods leverages the OpenCV interpolation functions to change the resolution. You can run the d

[2016-05-13 11:21] pfankhauser commented on #60
@stonier Any update on this?

[2016-08-25 08:02] solosuper opened #66 "iterator_demo throws exception"
When running the iterator demo, the program terminates after a while with the following message:

[code]

[2016-08-26 14:18] pfankhauser opened #67 "Eigen Plugins Order"
Currently, there's an error when Eigen is not loaded at first from `grid_map_core` because of the Eigen Plugins.

[2016-08-26 14:44] pfankhauser commented on #66
The demo runs through several iterators and should terminate after the last iterator. You should see something like this

    [ INFO] [1472222564.624084658]: Running polygon iterator demo.
    [grid_map_iterators_demo-2] process has finished cleanly

How long does the demo run for you? Can you run GDB on it?

[2016-08-31 07:10] djud opened #68 "Grid Map RViz Plugin: Alpha Channel"
Only other grid_map's can be seen if a grid_map is set to transparent (alpha<1). Robot model and other markers are not visible through transparent grid_map's.

![grid_map_rviz_issue_1](https://cloud.githubusercontent.com/assets/4202711/18119272/25236f82-6f5a-11e6-8db8-12cf5ccb429f.png)
![grid_map_rviz_issue_2](https://cloud.githubusercontent.com/assets/4202711/18119280/29c4fa42-6f5a-11e6-9018-1c71

[2016-09-13 09:24] solosuper commented on #66
Hi, sorry for the late reply.
I should probably mention that I have cloned this repo into my workspace and is thus compiling it from source with catkin_make along with my own package (and cv_bridge (to be able to use OpenCV 3)). I just tried installing grid_map with `apt-get install ros-indigo-grid-map` and the demo then works perfectly.

---

So to the problem:

Yes, I've tried running GDB on it,

[2016-09-13 13:19] solosuper commented on #66
I am embarassed to say that the issue should not have been reported. I was working on an old fork of this project, and I guess that's the cause of error.

[2016-09-13 13:19] #66 closed

[2016-09-13 15:21] pfankhauser commented on #66
Don't worry, thanks for the update.

[2016-09-13 15:22] #60 closed

[2016-09-21 01:12] stonier commented on #60
Missed my emails on this one. `addDataFrom()` could work, though it means manually doing the rest of the details (setting the length, position) manually. I feel having methods separate to the class (like the `changeResolution()` is the best course here since there are multiple ways of handling the changed resolution.

For our needs, I probably will build our own `changeResolution()` methods. Linki

[2016-09-21 08:30] pfankhauser commented on #60
Ok, I see. In this case, I think the best approach would be to create a new class `GridMapProcessing` in `grid_map_core` to perform a resolution change without dependency on OpenCV. Let me know if you need any support.

[2016-10-12 16:57] solosuper commented on #67
When I am using `"#include "grid_map_cv/grid_map_cv.hpp"`, I get the error

[code]
Has it got something to do with this issue, or how can I resolve it?

[2016-10-20 19:39] pfankhauser commented on #67
Yes, that's the problem we're facing when Eigen is included first, as Grid Map relies on Eigen Addons that are loaded through macros: http://eigen.tuxfamily.org/dox/TopicCustomizingEigen.html

I'm not sure how to resolve this nicely, any hints are appreciated.

[2016-10-21 14:36] #67 closed

[2016-10-21 14:38] pfankhauser commented on #67
Thanks to @djud and @hogabrie for resolving this with https://github.com/ethz-asl/grid_map/pull/73!

[2016-11-03 13:45] skohlbr opened #75 "addLayerFromImage broken (?) for cv::Mat images of float type"
I tried converting a floating point `cv::Mat` to a layer and noted that the grid map ends up having extremely small entries (magniture ~E-37). The cv image however has entries in the range [0, 31.0]. Investigating I found the following line: https://github.com/ethz-asl/grid_map/blob/master/grid_map_cv/include/grid_map_cv/GridMapCvConverter.hpp#L96
Setting the max by casting to `(float)std::numeric

[2016-11-03 16:46] pfankhauser commented on #75
Thanks for reporting. Can you check if branch [fix/image_float_conversion](https://github.com/ethz-asl/grid_map/tree/fix/image_float_conversion) solves this issue for you?

[2016-11-11 11:20] pfankhauser commented on #75
@skohlbr Any news on this?

[2016-11-11 22:20] skohlbr commented on #75
After looking into this some more I noticed that mapping the data pointer can be directly used to initialize a cv::Mat without copying, so I switched to that approach (see [here](https://github.com/tu-darmstadt-ros-pkg/grid_map_proc/blob/master/src/grid_map_transforms.cpp#L18)). If you insist, I can try recreating my prior setup :)

[2016-11-11 22:35] skohlbr opened #76 "Conversion from CostMap2D to GridMap"
Standard ROS navigation uses [CostMap2D](https://github.com/ros-planning/navigation/blob/0fec250ead4a8b2c5ed2e6d1e3efb28e7885c12e/costmap_2d/src/costmap_2d.cpp) as a cost map representation and when implementing a [nav_core::BaseGlobalPlanner](https://github.com/ros-planning/navigation/blob/0fec250ead4a8b2c5ed2e6d1e3efb28e7885c12e/nav_core/include/nav_core/base_global_planner.h#L48) plugin that us

[2016-11-21 11:07] stonier commented on #76
We have a function in the `cost_map` library which does this...[here](https://github.com/stonier/cost_map/blob/devel/cost_map/src/lib/converter.cpp#L347). There's an active [PR](https://github.com/stonier/cost_map/pull/19) on that too looking to improve it a bit.

At any rate, it could very easily be templatised to handle `grid_map` and `cost_map` objects together I think.

[2016-11-23 01:46] skohlbr commented on #76
Thanks for the link @stonier! I made my own small converter by pulling out some code from navigation, converting from CostMap2D to nav_msgs/OccupancyGrid and then just using the conversion to GridMap. Not terribly efficient, but gets the job done: https://github.com/tu-darmstadt-ros-pkg/grid_map_navigation_planner/blob/master/grid_map_planner_nav_plugin/include/grid_map_planner_nav_plugin/grid_map

[2016-11-23 02:40] stonier commented on #76
Oh, two step. Bit expensive, but it should work.

Good to have this issue here. I've been a bit delayed getting my cost map revamped (has to wait until I get back from interview travels), but this would be a good function to get into the core for both cost_map and grid_map.

[2016-11-24 10:17] pfankhauser commented on #76
Thanks @skohlbr and @stonier for your input! I added a quick implementation of a Costmap2D to Grid Map in the [feature/costmap_conversion](https://github.com/ethz-asl/grid_map/tree/feature/costmap_conversion) branch.

- The class `Costmap2DConverter` provides two methods
    1. First one has to initialize a new grid map with  `initializeFromCostmap2d` to adapt to the geometry of the costmap.
    2

[2016-11-24 10:26] pfankhauser commented on #76
Update: I used the cost translation table as suggested by @skohlbr and added him as an author, please let me know if this is not ok.

[2016-11-24 10:30] pfankhauser commented on #75
Ok great, yes that works too if one is careful ;-)

[2016-11-24 10:30] #75 closed

[2016-11-24 12:35] procopiostein opened #79 "missing config folder in grid_map_demos"
the config folder from grid_map_demos is not present in the indigo .deb:

roslaunch grid_map_demos tutorial_demo.launch

error loading <rosparam> tag:
	file does not exist [/opt/ros/indigo/share/grid_map_demos/config/tutorial_demo.yaml]
XML is <rosparam command="load" file="$(find grid_map_demos)/config/tutorial_demo.yaml"/>
The traceback for the exception was written to the log file

[2016-11-24 21:33] skohlbr commented on #76
Fine with me, but full disclosure: I extracted and modified that code from [costmap_2d_publisher](https://github.com/ros-planning/navigation/blob/53087ca5242fb40f06c84a6bcc74057c3470eff7/costmap_2d/src/costmap_2d_publisher.cpp) (the cost translation table is a `static char* cost_translation_table_` there).

[2016-11-28 15:23] rookiepig opened #80 "GridMap iterator col-major order or row-major order ?"
I am using the 1.4.1 version (apt-get install of ubuntu packages).

I run the iterator_demo, the iterator goes in column-major order, however the gif image of this github repo shows that the iterator goes in row-major order.

I am confused and  want to ask that which one is correct ?

[2016-11-29 09:15] pfankhauser commented on #76
@skohlbr Ok great, were you able to check if the new conversion feature in branch [feature/costmap_conversion](https://github.com/ethz-asl/grid_map/tree/feature/costmap_conversion) works for your use case?

[2016-11-29 09:20] pfankhauser commented on #80
Well observed, @rookiepig =) the grid map iterator changed in 1.2.0 to be more efficient. This had the effect that the cell traversal order switched. So the `iterator_demo` is fine, I just haven't gotten around to update the GIF in the documentation.

[2016-12-02 02:06] skohlbr commented on #76
Not yet, but will do next week.

[2016-12-05 10:57] #80 closed

[2016-12-06 11:15] rookiepig commented on #80
Glad to see it fix :+1:    Indeed, I was mislead by the gif :)

[2016-12-13 22:44] pfankhauser opened #81 "`grid_map_rviz_plugin` with traits"
Replace modified files with template traits (http://wiki.ros.org/roscpp/Overview/MessagesTraits).

[2016-12-27 08:55] stonier commented on #76
We've been refining what we do with Costmap2DROS conversions into cost maps - details [here](https://github.com/stonier/cost_map#costmap2dros-conversions). Basically the use case we were interested in supporting is the ability to catch a subwindow of the cost map around the ros pose.

This required us to be a little more careful (i.e. catch a few bugs) to make sure we don't introduce errors by hav

[2016-12-27 09:01] stonier commented on #52
We talked at ROSCon about this. The templatised CRTP implementation would be cool, but alot of effort and a high barrier to future developers.

Instead we'll concentrate on templatising as many methods as we can to maximise code reuse and making sure the core CostMap and GridMap classes have api's that match as closely as possible.

Right now the cost map library depends directly on the grid map l

[2016-12-27 09:01] #52 closed

[2016-12-27 09:05] stonier commented on #51
I am thinking now that the clarity of having these separate is more useful than any benefits that code reuse will provide by complicating them in the ways discussed above.

[2016-12-27 09:05] #51 closed

[2016-12-27 09:08] stonier commented on #46
This is not necessary. Perfectly ok to have the following code:

[code]

[2016-12-27 09:10] #46 closed

[2016-12-27 09:14] stonier commented on #79
Must be a very old release, that went in commit 93ca546f in Jan 2016 and is present in my indigo deb install of the project.

[2016-12-27 09:15] stonier opened #82 "New indigo/kinetic releases?"
Getting ready to release the cost map counterparts to this library and just realised the debs aren't up to date with the api I'm making use of here in the master branch.

@pfankhauser any chance you can bump a new release on these?

[2016-12-30 15:37] pfankhauser commented on #79
@procopiostein did an update resolve the issue?

[2016-12-30 15:39] pfankhauser commented on #82
Yes of course, I will make a new release as soon as I'm back in the office beginning of January.

[2017-01-12 23:13] montecarlo13 opened #85 "Building local grid map with stereo camera"
hello guys, I want to build my own grid map on ROS Indigo with a sensor (e.g. kinect or Realsense camera) but without using a robot and navigation, just building the local grid map that should represent the obstacles detected by the sensor. What should I do with this grid map library? Do I need to work with the node "elevation mapping" in addition? Thanks!

[2017-01-13 11:57] pfankhauser commented on #85
Hi @montecarlo13
In that case you can either use [Elevation Mapping](https://github.com/ethz-asl/elevation_mapping) or add the point clouds to a grid map in your own node, both ways will work.
Does that answer your question?

[2017-01-13 17:54] montecarlo13 commented on #85
Hi @pfankhauser
Thank you very much for your answer. Now I have a idea, I would firstly use OpenCV to process my depth images, which published by the sensor, then in my node I use the classes GridMapCvConverter and GridMapCvProcessing from the grid map library for converting the cv messages to /grid_map_msgs/GridMap, so that I can get the OccupancyGrid map with help from the node grid_map_visualiz

[2017-01-24 14:06] #79 closed

[2017-01-24 14:24] pfankhauser commented on #76
Solved by #78.

[2017-01-24 14:24] #76 closed

[2017-01-24 14:25] pfankhauser commented on #81
Solved by #87.

[2017-01-24 14:25] #81 closed

[2017-01-24 16:20] pfankhauser commented on #82
Here we go: https://github.com/ethz-asl/grid_map/releases/tag/1.4.2
It's being added to rosdistro right now. Thanks for your patience, @stonier.

[2017-01-24 16:20] #82 closed

[2017-01-24 16:22] pfankhauser commented on #85
I don't think you need OpenCV for this. Just take your depth images, turn them into point clouds and either use Elevation Mapping or your own implementation to add the point clouds to a grid map. Does this help?

[2017-01-24 16:37] stonier commented on #82
[code]

[2017-01-28 23:55] montecarlo13 commented on #85
@pfankhauser

Thank you very much, it's really helpful ! :-)

[2017-02-07 14:41] mjschuster opened #88 "Alignment issues with Eigen datatypes and vectorization"
Hi there,
first of all, thanks for this easy-to-use and well documented library!

There however seem to be alignment issues with the Eigen datatypes when compiling the library and software including its headers, which can lead to segmentation faults with compiling with vectorization (SSE) enabled. This probably is the case as you use Eigen datatypes like ```Eigen::Vector2d``` as a member of a stru

[2017-02-07 15:22] #85 closed

[2017-02-22 15:57] romainreignier opened #89 "[grid_map_cv] Handle NaN values in toImage"
When converting a GridMap to an OpenCV image with the method `grid_map:GridMapCvConverter::toImage`, it seems that the `NaN` values are converted to the value of the argument `lowerValue` by the `Clamp` function.

Maybe I am not using the library in the correct way so please, correct me if I am doing something wrong.

I am using a map during a SLAM so I get an OccupancyGrid with the value -1 for a

[2017-02-24 11:13] mauricefallon opened #90 "grid_map doesn't transform according to pose in message"
As far as I can tell grid_map cannot transform according to the z value or orientation in GridMapInfo.msg
* [doesn't use 3D values in the message](https://github.com/ethz-asl/grid_map/blob/master/grid_map_ros/src/GridMapRosConverter.cpp#L42)
* [setGeometry accepts only x and y](https://github.com/ethz-asl/grid_map/blob/master/grid_map_core/include/grid_map_core/GridMap.hpp#L68)
It only uses the x,

[2017-02-24 14:03] pfankhauser commented on #90
Maurice, yes, currently only _x_ and _y_-positions are supported. It would be easy to add _z_-position support, but rotations would increase the complexity considering that Grid Map supports additionally to `setPosition(...)` the `move(...)` command (see [here](https://github.com/ethz-asl/grid_map#changing-the-position-of-the-map)).

I will look into better documenting this and/or adapting the ROS

[2017-02-24 14:31] pfankhauser commented on #89
Are you using an image with a channel for the alpha layer? There's a [round trip unit test](https://github.com/ethz-asl/grid_map/blob/master/grid_map_cv/test/GridMapCvTest.cpp#L47) that passes for the `CV_8UC4` CV image type and I just added a nan-value/transparent pixel [here](1d83ba6fdc7782b69ac7400b8a7f09531251b49e).

If this does not solve your problem, could you please create a PR with a fail

[2017-02-24 14:44] pfankhauser commented on #88
Dear @mjschuster, thanks a lot! This might actually be an issue and I can look into this at a later point. If you have a suggestion on how to implement this fix, feel free to create a PR.

[2017-02-24 16:09] mauricefallon commented on #90
Yes, I think adding a TF frame is the solution for me.

From what I see, the pose in the GridMap message is a kind of convenience. (I think you use it to support GridMaps with variable resolution). It wasn't clear what its purpose was.

[2017-02-24 16:09] #90 closed

[2017-02-24 16:15] romainreignier commented on #89
Ah no, I forgot to mention that I am using a `CV_8UC1` grayscale image, that is why, there is no other solution to translate a `NaN` to a mid value between Free and Occupied.

[2017-03-02 09:57] pfankhauser commented on #89
So is there anything you would like to see differently in the behavior of Grid Map or should I close this issue?

[2017-03-02 09:59] romainreignier commented on #89
What do you think about setting `NaN` values to the mid value between `lowerValue` and `upperValue`?

[2017-03-02 10:00] romainreignier commented on #89
*if there is no alpha channel, of couse.

[2017-03-02 10:15] pfankhauser commented on #89
I would keep the current behavior, since I feel it's the one with the least assumptions. Your use case is very special, and if I'm not mistaken, you could achieve your desired behavior by setting your empty/nan cells to the mid-value _before_ converting it to the image format.

[2017-03-02 10:39] romainreignier commented on #89
Yes, of course, it is what I have done.
But for the `map_server` for example, a unknown cell is a pixel with value 128 that is why I was surprised that `grid_map` did not picked a middle value.
Anyway, as you said, my use case may be special for the `gird_map` because I did not managed to find an easy way to convert pixels position to `grid_map` coordinates then `OccupancyGrid` coordinates. So I h

[2017-03-15 19:03] mcamurri opened #91 "changeResolution cause segfault with wrong startIndex"
I think there's a bug with `GridMapCvProcessing`.

If I have a map of fixed area at high resolution (say, 4 x 4 meters, 1 cm) and I want the same area at low resolution (say 4 x 4 meters, 4 cm) by applying the `changeResolution` method, [this line](https://github.com/ethz-asl/grid_map/blob/master/grid_map_cv/src/GridMapCvProcessing.cpp#L57) causes segfault if the starting index of the original map

[2017-03-16 15:17] mjschuster commented on #88
Dear @pfankhauser, thanks!
It'd be great if you could have a look at this. I myself probably won't have the time for a pull request on this issue anytime soon. My suggestion would be to go through the code and see if its possible to
- use Eigen aligned allocators for all structs / classes having fixed-size vectorizable Eigen datatypes as members (see https://eigen.tuxfamily.org/dox-devel/group__To

[2017-03-30 13:41] ThomasEmter commented on #88
Hi all,

as we had some alignment related crashes with grid_map, I added a small fix concerning the alignment issues with Eigen. Although I did not have time to thoroughly look through all the code, I added a missing  EIGEN_MAKE_ALIGNED_OPERATOR_NEW in the GridMap class, which has fixed-size Eigen members.
I would like to contribute this fix via a pull request, but I think I might not have the per

[2017-04-10 16:45] pfankhauser opened #94 "Clarify dependency on costmap_2d"

[2017-05-03 15:52] #68 closed

[2017-05-03 17:28] pfankhauser commented on #88
Thanks, @ThomasEmter! I merged your PR and extended it with other places where this code had fixed-size Eigen members. Let me know if we need to work more on this issue or you have any other problems.

[2017-05-03 19:34] pfankhauser commented on #91
Hi Marco! Thanks for the notification and please excuse the late response. You are right, the `changeResolution` method was not handling all cases of the buffer correctly. Additionally, by when fixing this, I also found two more errors in the circular and ellipse iterators.

I just pushed the fixes (including unit tests) [here](https://github.com/ethz-asl/grid_map/commit/553f11c736dca800142d61db7a

[2017-05-03 19:34] #91 closed

[2017-05-03 20:01] ThomasEmter commented on #88
Dear Péter!

Thank you very much for fixing the other places. We did not have any crashes anymore with my fix already.

Best regards,
Thomas
P.S.: And thank you for this great mapping tool ☺

Von: Péter Fankhauser [mailto:notifications@github.com]
Gesendet: 3 May, 2017 19:28
An: ethz-asl/grid_map <grid_map@noreply.github.com>
Cc: Emter, Thomas <thomas.emter@iosb.fraunhofer.de>; Mention <mention@no

[2017-05-21 08:08] victl opened #98 "LineIterator has potential bug?"
I've been using grid_map for a while. I found LineIterator occasionally crash if I initialize it with two 'Position's, and access the grid map with
[code]
This is most likely when both 'pos1' and 'pos2' are out of valid range.

I looked into the source code of 'LineIterator' and found that the constructor will NOT initialize anything if 'getIndexLimitedToMapRange()' returns false. In this case, wh

[2017-05-24 13:25] pfankhauser commented on #98
Thanks for reporting this! We have a [unit test](https://github.com/ethz-asl/grid_map/blob/master/grid_map_core/test/LineIteratorTest.cpp#L74) for the case where both start and end point are outside the map, so I'm unsure what happens in your case.

Could I ask you to recreate the erroneous behavior from your description in a unit test and create a PR?

[2017-05-24 13:49] baumanta opened #99 "convexHullOfTwoCircles"
Special case where both circles are the same is not working

[2017-05-25 17:28] hubmariu opened #100 "Segmentation fault on ARM due to oversized Eigen matrix"
Elevation mapping throws `std::bad_alloc()` as soon as the map is supposed to be moved. Adding point clouds to a map fixed in position works.

The underlying problem is probably in `grid_maps`, namely in [EllipseIterator.cpp:32](https://github.com/ethz-asl/grid_map/blob/master/grid_map_core/src/iterators/EllipseIterator.cpp#L32).

See [https://github.com/ethz-asl/elevation_mapping/issues/42](url)

[2017-06-08 07:16] KlausBuchegger opened #101 "Dead API links in Readme"
The links to the API documentations hit a 404

[2017-06-08 14:46] mcamurri opened #102 "access normals from gridmap variable"
I have a question: from the RViz I can see that the gridmap is visualized with some sort of normal to orient the cell/mesh. This means that for each cell a normal is computed. Is it available from the gridmap object or it is computed by the RViz plugin from the neighbors?

Is there a method to get the normals automatically?

[2017-06-09 14:05] #94 closed

[2017-06-09 14:37] pfankhauser commented on #101
Thanks for reporting, I just updated the links!

[2017-06-09 14:37] #101 closed

[2017-06-09 14:41] pfankhauser commented on #102
Hi @mcamurri,
We have implemented surface normal estimation as part of [Elevation Mapping](https://github.com/ethz-asl/elevation_mapping) and as a Grid Map Filter in [Traversability Estimation](https://github.com/ethz-asl/traversability_estimation). We are planning to unify the implementation as a Grid Map Filter in this repo, but in the meanwhile you can use the other implementations.

[2017-06-09 14:41] #102 closed

[2017-06-14 08:54] mjschuster commented on #88
Thanks @ThomasEmter @pfankhauser !
While these fixes should address some of the alignment issues, I think there still are some more (and more complicated) ones left, in particular with respect to my second and third bullet point in the comment above.

For example in https://github.com/ethz-asl/grid_map/blob/master/grid_map_core/include/grid_map_core/Polygon.hpp#L206 you create a ```std::vector```

[2017-06-20 10:41] JuanLuisHortelano commented on #89
I have also encountered this problem.

The issue is that the output of SLAM algorithms for unknown area is -1 in occupancy grids, that gets transformed into NaN in Grid maps that gets transformed into 0 in cv::Mat. That causes cv::Mats to make no difference between occupied cells and unknown cells.

I don't think changing NaN cells to a middle value before converting to grid map is a good solution

[2017-06-25 22:29] tombrodie commented on #100
I have managed to solve this problem by going through the grid_map_core package and initialising any variable of type Index (I also did it for uninitialised variables of type Position just in case), for example:

  Index submapStartIndex;
  submapStartIndex.setZero();

This exists in files outside the EllipseIterator.cpp although I could not say if other uninitialised declarations were the cuplrit

[2017-06-27 08:14] KlausBuchegger opened #106 "PolygonIterator getting stuck"
Hi, I can't 100% reproduce this bug, but it seems to me that if one (or more?) of the vertices of the polygon used for the PolygonIterator is outside of the map, for some reason my code just hangs.

It does not happen all the time when I have a polygon that's not fully inside the map, but it happens a lot, and if i reexecute some scenario that got stuck it always gets stuck again.

Anyone else eve

[2017-07-06 11:01] pfankhauser commented on #106
Hi @KlausBuchegger! I'm sorry you're experiencing problems with Grid Map. Can you help me find and solve this bug? It would be really helpful if you could recreate your scenario in a [unit test](https://github.com/ethz-asl/grid_map/blob/master/grid_map_core/test/PolygonIteratorTest.cpp) and if necessary randomize the values and repeat the test until the error occurs?

[2017-07-06 18:55] KlausBuchegger commented on #106
Sure, I'll try and do that if I find some time, hopefully early next week.

[2017-07-11 14:22] KlausBuchegger commented on #106
So, I tried but failed reproducing my scenario where I got stuck (don't have the exact code anymore).
However, during my experiments I noticed that the GridMap function
getPosition (const Index &index, Position &position)
fails for an Index with negative x or y values.
For example I have a 5x5m map with resolution 0.1 and Position(0,0) as center.
a) Then Index(0,0) ~ Position(2.45,2.45)
b) Index(1

[2017-07-11 16:14] #99 closed

[2017-07-12 07:40] ThomasEmter commented on #88
Hi all,

Thanks  @mjschuster for pointing out other Eigen aligment issues.

I fixed all std::vector Eigen aligment issues I could find. I hope I have found all and I also did not find any other std container type in the code that would need fixing.

[2017-07-25 00:28] tfoote opened #111 "Moving Costmap2DConverter.hpp breaks downstream packages"
The recent moving of the include file: https://github.com/ethz-asl/grid_map/commit/787747e568edc2f05c1a1d7841e0682424087507 in #96 is breaking downstream packages expecting the header.

A backwards compatibility header with a deprecation warning would be appreciated.

http://build.ros.org/view/Ibin_uT64/job/Ibin_uT64__cost_map_ros__ubuntu_trusty_amd64__binary/8/console
[code]

[2017-07-25 08:54] pfankhauser commented on #111
Thanks for the notice @tfoote! I just added the backward compatibility in https://github.com/ethz-asl/grid_map/pull/112. I'll merge this and create a new version with the hope to fix things asap. Let me know if there's anything else I can do.

[2017-07-25 15:06] stonier commented on #111
Peter, I can update cost_map to accomodate the moved header on the weekend.

On 25 July 2017 at 04:54, Péter Fankhauser <notifications@github.com> wrote:

--
Phone : +82-10-5400-3296 (010-5400-3296)
Home: https://snorriheim.atlassian.net/wiki/spaces/~snorri
<http://snorriheim.dnsdojo.com/>

<http://rnd.yujinrobot.com/>

[2017-07-25 17:57] tfoote commented on #111
Thanks for the quick fix @pfankhauser it looks like this is fixing the regressions. Once the rebuild is complete I think we'll be ready to sync.

[2017-07-25 17:57] #111 closed

[2017-07-25 18:44] pfankhauser commented on #111
Ok great, @tfoote!

@stonier: yes, please update costmap_2d such that in the next version I can remove the deprecated header. Thanks!

[2017-08-08 03:09] stonier commented on #111
@pfankhauser `cost_map` is updated for both indigo and kinetic (no lunar version yet).

[2017-08-15 14:13] pfankhauser commented on #111
Ok great, thanks @stonier!

[2017-08-23 08:01] pfankhauser commented on #102
It's here! We have a new implementation for several grid map filters, including normal vector estimation. More info [here](https://github.com/ethz-asl/grid_map/blob/master/README.md#grid_map_filters).

![Filters demo results](https://github.com/ethz-asl/grid_map/blob/master/grid_map_demos/doc/filters_demo.gif?raw=true)

[2017-09-04 08:26] pfankhauser opened #127 "Latest commit on cv_bridge breaks building of grid_map_cv"
https://github.com/ros-perception/vision_opencv/commit/8b5bbcbc1ce65734dc600695487909e0c67c1033

[2017-09-09 15:32] KlausBuchegger commented on #106
Any progress on this issue?

[2017-09-12 01:14] ammarhusain opened #129 "Selection feature with RViz plugin"
Have you'll considered adding the "Select" feature to the RViz plugin for users to be able to click on a GridMap cell and get it local & global coordinates. It would also be great to get the list of layer values for the selected grid cell. I, personally, do not have much experience writing RViz plugins so was wondering if this a planned feature or if you have thoughts on how easy/ hard it would be

[2017-09-12 06:35] pfankhauser commented on #129
Excellent idea, @ammarhusain! I don't have the capacity to work on this right now, but I'm happy to work with anybody who wants to implement this feature.

[2017-09-18 09:44] grcasanova opened #130 "Provide a catkin-free cmake file"
As grid_map core does not need ROS I would add a custom Cmake file without catkin references for those who don't need ROS and don't have it installed.

[2017-09-18 13:56] pfankhauser commented on #130
Good idea, @grcasanova! If you can work on this, I'd be happy to integrate it.

[2017-09-22 14:43] artivis opened #131 "Compilation Error"
While compiling `grid_map_rviz_plugin` master branch on Ubuntu 14 with a bunch of compilation flag set I got the following compilation error :

`grid_map_rviz_plugin/src/GridMapVisual.cpp:73:18: error: suggest parentheses around '&&' within '||' [-Werror=parentheses]`

[2017-09-24 10:19] artivis opened #132 "No possibility to `resize` a GridMap ?"
Hi,
I started using the `grid_map_core` pkg recently aiming at incrementally building a `GridMap`. However it seems there are no possibility to resize 'on the fly'  a `GridMap` (resize while preserving the existing data).
The `setGeometry` functions internally call `clearAll` thus aren't suited for incremental building. I came across both `addDataFrom` & `extendToInclude` functions which both requ

[2017-09-25 09:23] pfankhauser commented on #132
Hi @artivis, thanks for sharing! I agree, a resizing method which is easier to use then `extendToInclude` could be implemented. Internally, the `extendToInclude` could call this resizing method. How would you like to use the `resize` method? Would you give it a new size and and leave the position the same, or something else?

[2017-09-25 09:37] artivis commented on #132
I am not familiar enough with the internal of `grid_map_core` to fully grasp the difficulty of implementing such new feature. But IMHO such resizing method would allows the user for either appending new cells on either side of the `GridMap` or both sides - e.g. increasing width lead to appending new cells both on the 'left' and 'right' of the `GridMap` and similarly for increasing the height. Incr

[2017-10-01 19:25] pfankhauser commented on #131
Thanks for reporting, @artivis! I just fixed this.

[2017-10-01 19:25] #131 closed

[2017-10-10 17:00] hujun1413 opened #135 "Compilation Error in Indigo 1.11.20"
When I run `catkin_make`, I got following:
[code]
My ros version is Indigo 1.11.20.
It seems like the filter_base.h file in Indigo 1.11.20 have no override function for getParam(string&, bool ).
Also I found filter_base.h has getParam(string&, bool ) in Indigo 1.11.21 on my friend's computer, so should I **build this pakage in higher Indigo version like 1.11.21**?

[2017-10-10 23:22] pfankhauser commented on #135
Yes, you should update to the newest version of Indigo. Alternatively, you can clone an older release (e.g. https://github.com/ethz-asl/grid_map/releases/tag/1.5.2) which does not include the latest changes for grid map filters. Let me know if this resolve your issue.

[2017-10-11 02:09] hujun1413 commented on #135
I clone the older release 1.5.2，and it works on Indigo 1.11.20!

Thank you for your answer, later I'll try the newest grid_map version on Indigo 1.11.21.

By the way, do you know how to update Indigo version? I found something on [How do I update ROS?](https://answers.ros.org/question/10419/how-do-i-update-ros/), but I haven't tried it yet.Is this tutorial right?

[2017-10-11 15:41] pfankhauser commented on #135
Ok great, looks good.

[2017-10-11 15:41] #135 closed

[2017-10-11 15:41] pfankhauser commented on #135
Ok great, looks good.

[2017-10-11 16:54] hujun1413 commented on #135
wait for a moment, I got a new problem.

I clone the older release 1.5.2，and it works on Indigo 1.11.20 and Indigo 1.11.21!

**Then I tried the newest grid_map version on Indigo 1.11.21, and I got new error**:
[code]
It seems like ros source code `class_loader.h` have some problem.

[2017-10-15 14:12] artivis opened #136 "Is GridMap rviz rendering one cell short ?"
Not sure if it is actually an issue but when overlaying an occupancy grid and a grid map, the two plots mismatch - see attached screenshot. Visually it looks like grid map is one cell short.
I noticed that in the [GridMapVisual](https://github.com/ethz-asl/grid_map/blob/master/grid_map_rviz_plugin/src/GridMapVisual.cpp#L132) class cells are iterated up to `rows\cols` **-1**.

Is this the intended

[2017-10-15 16:10] pfankhauser commented on #136
Occupancy grid renders a square per grid map entry and the grid map rviz visualization creates a mesh where the vertices are located in the cell center. That's why you see a half a cell width difference. Does this answer your question?

[2017-10-15 18:05] artivis commented on #136
Yes it does. Thanks !
Closing this.

[2017-10-15 18:05] #136 closed

[2017-11-10 14:01] mescarra opened #139 "LineIterator "Around the World" bug"
Hi,

I've been using grid_map for quite some time now. I did not realize until recently that sometimes, I could not say exactly when, a LineIterator between 2 points or indices that are close together (about 10 cells) in a 1000x1000 cells map, goes through 990 iterations, give or take.

I found this problem because my program was sometimes a little bit slower so I started counting iterations.

Can

[2017-11-10 17:18] pfankhauser commented on #139
Hi Martín,
Thanks for reporting this. We are not aware of this problem, but it might well exist. Could you please create a PR with a failing unit test for this case?

[2017-11-15 00:41] tfoote opened #141 "Regression with OpenCV 3.3 in Kinetic"
OpenCV 3.3 was released and there's a regression here: @vrabaud do you know the fix for this off hand?

Re: https://github.com/ros-infrastructure/rep/pull/140

http://build.ros.org/view/Kbin_uX64/job/Kbin_uX64__grid_map_demos__ubuntu_xenial_amd64__binary/
[code]

[2017-11-15 00:41] tfoote commented on #141
@mikaelarguedas fyi

[2017-11-15 14:56] Mosquito19 opened #142 "ERROR: cannot launch node of type [grid_map_demos/simple_demo]: can't locate node [simple_demo] in package [grid_map_demos]"
I build from the source code successly,but when I run :
$roslaunch grid_map_demos simple_demo.launch
It shows:
ERROR: cannot launch node of type [grid_map_demos/simple_demo]: can't locate node [simple_demo] in package [grid_map_demos]
ERROR: cannot launch node of type [grid_map_visualization/grid_map_visualization]: can't locate node [grid_map_visualization] in package [grid_map_visualization]
pro

[2017-11-15 22:19] miquelmassot commented on #141
To me it looks as if it lacked opencv highgui library linking. Adding OpenCV linking [here](https://github.com/ethz-asl/grid_map/blob/master/grid_map_demos/CMakeLists.txt#L149) might solve it.

[2017-11-15 23:47] pierrefranklin commented on #141
Yes, that's exactly what's happening. I think when cv_bridge switched to using specific components from OpenCV instead of the entire OpenCV, grid_map lost those libraries.

I've already made a pull request for this https://github.com/ethz-asl/grid_map/pull/140. However there is a different issue with ros Times in grid_map_ros which is causing the tests to fail, I'm currently working on solving tha

[2017-11-16 20:31] pierrefranklin commented on #141
The issues have been solved in pull request https://github.com/ethz-asl/grid_map/pull/140. This should get merged in pretty soon.

[2017-11-16 21:41] pfankhauser commented on #141
Done 👍

[2017-11-16 21:41] #141 closed

[2017-11-16 23:34] mikaelarguedas commented on #141
Nice! thanks @pierrefranklin @pfankhauser !
This will require a new release for the binaries to be part of the next sync

[2017-11-22 05:12] nitin5 opened #147 "Inflation in GridMap"
Hello
Is there any pre-build function to inflate the gridmap object?

Thanks

[2017-11-22 14:15] #127 closed

[2017-11-24 10:10] pfankhauser commented on #147
Hi @nitin5,
Do you mean inflating similar to what can be done for [costmap_2d](http://wiki.ros.org/costmap_2d)? You could achieve a similar effect by converting the grid map layer to an OpenCV image (with `grid_map_cv`) and then using the [eroding and dilating](https://docs.opencv.org/2.4/doc/tutorials/imgproc/erosion_dilatation/erosion_dilatation.html) commands from OpenCV.

[2017-11-24 12:37] pierrefranklin commented on #142
Did you solve this?

Just form the errors, I would guess you need to resource the setup.bash file in our devel folder after building for the first time.

[2017-11-29 13:37] wsascha opened #148 "[grid_map_core] Determine length of line within grid map cell"
**Why?**
For occupancy mapping, I want to use a decay rate model, e.g. as presented [here](http://ais.informatik.uni-freiburg.de/publications/papers/schaefer17icra.pdf). Therefore, I need the distance a ray travelled within each cell.

**How?**
[This](https://stackoverflow.com/questions/4248090/finding-the-length-of-a-ray-within-a-cube) thread describes how that length can be computed for general

[2017-11-30 23:10] kuoshih opened #150 "Values of grids in ImageToGridmapDemo"
Hi all,

I use ImageToGridmapDemo to read a image and get a grid map.
However, when I read the values from the grid, the values are between 0.1 to -0.1.
Does anyone know the mapping from the values to color?
They looks like normalized values.

-- Read value code
for (grid_map::GridMapIterator iterator(map_); !iterator.isPastEnd(); ++iterator)
{
    const int i = iterator.getLinearIndex();
    ROS_

[2017-12-01 16:19] laxnpander commented on #132
Is there any update on this? Could be useful for my use-case too. An incremental resize without clearing all data sounds like a good thing to do. I personally won't need to reposition the map.

[2017-12-04 15:08] laxnpander opened #151 "Incremental publishing of high resolution grid map"
Hey there,

thanks for your nice package, awesome work! I am looking for a way to handle large, high resolution maps (e.g. 10000x10000 Elements). In default I guess, I need to allocate the full final size at once and then publish the whole map with every update. However this sounds very ineffective to me, in case I have a robot that has very limited view of the total map.
My question therefore:
-

[2017-12-05 10:36] artivis commented on #151
The `GridMap` class class offers the possibility to retrieve a sub-map, you could thus retrieve and publish a sub-map centered on your robot  :

[code]

[2017-12-05 10:39] artivis opened #153 "fatal error: Eigen/Core: No such file or directory"
Not sure why but on my machine `EIGEN3_INCLUDE_DIR` is empty while `EIGEN3_INCLUDE_DIRS` has the include path properly defined.

Ubuntu 14.04 + ROS Indigo.

[2017-12-05 11:40] laxnpander commented on #151
I see, thanks! I am not so familiar with RVIZ or 3D visualization at all, what does constant publishing of submaps do to the performance? Will it try to render let's say 20 submaps even in overlapping areas, or will it treat the grid map as one total object?

[2017-12-06 21:35] alicegong opened #154 "Seg Fault on 2 sides of 4 boundary sides"
I found that when I have the origin and world length specified, if I try to access a coordinate on the boundary of the world, it’d seg fault. E.g., origin = (0,0), world length = (width = 50, height = 20), resolution = 0.05, then I cannot access (any x, -10), or (-25, any y) but (any x, 10) and (25, any y) were fine. It took some digging into your source code for me to understand how the numerical

[2017-12-08 05:53] pfankhauser commented on #154
Hi Alice,
Thanks for reporting this behavior. You are right, I have not taken this special case into consideration since we’ve never run into this issue. I you have a suggestion for a change in code, I would be happy to take a look at it in a pull request.
Best, Péter

On 6 Dec 2017, 22:35 +0100, Alice Gong <notifications@github.com>, wrote:

[2017-12-10 18:42] alicegong commented on #154
Sure. I'll fork it and modify, and let you know when I've made a pull request!

[2017-12-20 09:47] #151 closed

[2018-01-02 03:28] stonier opened #155 "[grid_map_cv] opencv_photo-NOTFOUND"
Off on a wild goose chase trying to track down this linking problem for `libgridmap_cv.so`, so throwing some information here to save the next person some time till the problem is fixed upstream.

i.e. probably nothing needed to fix here, just close when OpenCV3.4 has been build for ROS Kinetic. Discussion and updates should be found in [this thread](https://github.com/ros-perception/vision_opencv

[2018-01-02 09:48] laxnpander opened #156 "RVIZ visualization needs elevation layer?"
Hey hey,

first of all great project! Really enjoy playing around with grid map. I am currently into the rviz visualization and there is an aspects I wonder about:

I have a flat color layer displaying an image, therefore I choose as height transformation in rviz "flat" and as color layer my appropriate layer. However the map is only displayed if I have an existing elevation layer and it is set to

[2018-01-03 15:16] laxnpander opened #157 "Performance: getPosition(Index) is super slow"
Hey hey,

I currently have an iteration of about 10 000 elements in a submap which runs in less than 0.1 seconds. However, as soon as I add "getPosition(*iterator, position)" into the loop, the performance drops to 0.5 seconds and worse. This is not really acceptable for me, especially as it should be quite an easy computation? Whats going on there?

Thanks for your help and best regards,
Alex

[2018-01-08 12:30] artivis commented on #155
Wish I had found this post half an hour ago...
Anyway, on my machine (Ubuntu 14.04 + Indigo) both OpenCV2.4 and ros-indigo-opencv3 are installed.
It seems that the `find_package(cv_bridge)` pulls OpenCV2 (make sense) while `find_package(OpenCV REQUIRED COMPONENTS opencv_photo)` pulls OpenCV3 (make sense ??!).
Leading (much) later on and a couple package on top to a sweet segfault...

I could comme

[2018-01-18 08:02] aybakana commented on #153
Copy "FindEigen3.cmake" into usr/share/cmake-3.2/Modules

[2018-01-18 08:04] aybakana opened #158 "PointCloud2 to Gridmap?"
Can I just convert a PointCloud2 message into Gridmap? How can I do that?

[2018-01-18 08:57] pfankhauser commented on #158
Hi @aybakana! A point cloud and a grid map are very different formats, which cannot just be converted. You’ll have to do a mapping from the individual points of the point cloud to the values of the cells in the grid map. We have an [elevation mapping](https://github.com/ethz-asl/elevation_mapping) framework that could help you with this.

[2018-01-18 10:07] artivis commented on #153
Thanks but this is not the issue as cmake finds Eigen without any problem.

[2018-01-18 12:07] aybakana commented on #158
I converted PointCloud2 message into Octomap message using _octomap_server_ node and then Octomap message into Gridmap message using _gridmap_to_octomap_demo_ node. It seems okay. This was what I meant. Can you not add a node to do this conversion at once? I am still confused what you meant by grid map and point cloud are very different formats. Can you give me a source which will help me understa

[2018-01-25 06:41] zhixuan-wei commented on #132
Add a `resize` method is a good idea! It's better to set both size and position when resize (move and resize at the same time). More over, is it possible to set the initial value of the new cells? Thank you!

[2018-01-26 14:33] connichiha opened #159 "catkin_make failed in Ubuntu 16.04 (Invoking "make -j8 -l8" failed)"
I installed the grid_map and its dependencies.
Firstly, I got an error about no package.  I installed the ros_navigation package and fixed it.
[code]
------------------------------------------------------------------
Now, I could not fix this problem caused by map_loader( not sure).
[code]

[2018-01-27 06:28] connichiha commented on #159
Hi,everybody. I found the problem and fixed.
Here I share the solutions.
Problem was the version of gcc in my ubuntu.
change the version from 4.9 to 5.0. It worked

[2018-01-27 06:28] #159 closed

[2018-01-31 14:05] bmagyar opened #161 "rviz display crash when height layer is not available"
`GridMap` throws exceptions when lookup of things fail but these are not caught in the `rviz` display which in return crashes `rviz` altogether.

[code]

It happens to me when I'm changing HeightTransformer type with a layer name that's not available. Anyone found this before?

[2018-02-02 13:58] naveedhd opened #162 "[grid_map_costmap_2d] Costmap2DConverter - costTranslationTable for unknown cells"
In [Costmap2DConverter](https://github.com/ethz-asl/grid_map/blob/master/grid_map_costmap_2d/include/grid_map_costmap_2d/Costmap2DConverter.hpp), [addLayerFromCostmap2D](https://github.com/ethz-asl/grid_map/blob/master/grid_map_costmap_2d/include/grid_map_costmap_2d/Costmap2DConverter.hpp#L153) uses [costTranslationTable](https://github.com/ethz-asl/grid_map/blob/master/grid_map_costmap_2d/include

[2018-02-02 14:02] naveedhd commented on #162
If the solution is to have additional check [here](https://github.com/ethz-asl/grid_map/blob/master/grid_map_ros/src/GridMapRosConverter.cpp#L279) (which makes value = -1 if it's less than zero), I can open a PR. or a better solution?

[2018-03-12 14:43] wsascha opened #163 "Unit tests fail when built with AVX instruction set option"
We tried to make `grid_map_core` run using AVX instructions. Therefore, we added `set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -mavx")` in line 3 of the `grid_map_core`'s `CMakeLists.txt` file.

Unfortunately, this will generate runtime segfaults, e.g. when running the following unit test in `test/GridMapTest.cpp`:

[code]

The segfault happens during call of the `setConstant` method.

Has anyone ever

[2018-04-05 21:01] ThomasEmter commented on #155
Hi @stonier. Did you try cleaning your workspace as mentioned in the thread by @Triocrossing? This solved the issue of `No rule to make target '/opt/ros/kinetic/lib/libopencv_photo3.so.3.3.1'`. Perhaps this also helps in your case?

Hi @artivis. I think your issue has another reason: the parallel usage of OpenCV3 in ROS Indigo. It is possible, but the usage of `cv_bridge` segfaults. See for exampl

[2018-04-19 03:48] zhang261007 opened #165 "how to deal with opencv2/core/core.hpp when i use kinetic?"
In file included from /opt/ros/kinetic/include/grid_map_ros/GridMapRosConverter.hpp:28:0,
                 from /home/zmramost/build_mode/src/build_baselink/src/point_process.cpp:26:
/opt/ros/kinetic/include/cv_bridge/cv_bridge.h:43:33: fatal error: opencv2/core/core.hpp: No such file or directory
compilation terminated.

[2018-04-19 03:58] zhang261007 commented on #165
while i try find_package(cv_bridge) then it runs well

[2018-05-16 12:07] eduardo-molinos opened #166 "Compilation warnings"
When grid_map project is compiled, a lot of warnings derived from Eigen3 library happens. It can be solved changing each CMakeList of the project to avoid the warning output (https://developers.redhat.com/blog/2017/03/10/wimplicit-fallthrough-in-gcc-7/).

Can you modify the CMakeList in a way that these warnings do not appear?

[2018-06-14 19:39] erichahn opened #167 "Grid Size Rviz Limitations"
When using an occupancy map of size 300 by 300 meters rviz never slows down. When attempting to convert at 666 x 666 pixel image to a grid map of size 300 by 300 meters at 0.5 meter resolution I get about a message a second, compared to the typical 20 a second possible with occupancy maps.

Any idea what would be contributing to this severe slowdown?

[2018-06-15 12:40] pfankhauser commented on #167
Hi @erichahn, are you building from source? Can you confirm that you're building in RELEASE mode?

[2018-06-18 15:45] erichahn commented on #167
I am installing using sudo apt install ros-kinetic-grid-map, I am building in release mode. It appears to be an rviz plugin slowdown as issue only develops when attempting to visualize.

[2018-06-19 05:52] CtfChan opened #168 "If I would like to make a semi-circle iterator, how do I go about doing so?"

[2018-06-19 07:02] murikill opened #169 "Gridmap for large areas"
Hello,

it is possible to use grid_map for large areas (memory efficient)?
For example 10000 x 10000 gridcells.

Thank you

[2018-06-19 09:05] pfankhauser commented on #168
You could use the [`PolygonIterator`](https://github.com/ethz-asl/grid_map/blob/master/grid_map_core/include/grid_map_core/iterators/PolygonIterator.hpp) to define your custom shape or write your own custom iterator.

[2018-06-19 09:11] pfankhauser commented on #169
Hi @murikill, Grid Map builds on Eigen dense matrices, so this should scale well for large data. However, you will have to take care to manipulate the data efficiently, for more details on this see [here](https://github.com/ethz-asl/grid_map#iterators). Please let me know if you gain more experience.

[2018-06-19 15:26] erichahn opened #170 "transform grid_map frames"
Is it possible to transform grid_map frames from say base_link to odom on a mobile robot platform? I understand how to set a new position, but setting any concept of orientation about the center of the grid appears to not be possible.

When trying to simply do the transform on a grid_map_msg using tfListener the code refuses to compile. Guessing it's not supported as it's a custom type without sup

[2018-06-20 02:00] CtfChan commented on #168
I see. Thank you for your help!

[2018-06-20 02:01] CtfChan commented on #168
Thank you for your help kind sir.

[2018-06-20 02:02] #168 closed

[2018-06-20 02:51] zhengzh commented on #142
[code]

[2018-06-20 15:03] erichahn commented on #170
I have a pointcloud with frame base_link. When I create an intensity image of the point cloud, and then create a grid_map from the image, I get the tf from base_link to odom. I then apply the transform to the grid_map. The translation works properly, but the orientation is not correct at all.

Secondly, if I then try and create an occupancy grid from the grid_map the position transformation is ret

[2018-06-21 13:37] erichahn commented on #170
Between forcing the pose orientation to remain fixed at 0, be set to the transform between frames, or manually adjust roll, pitch, and yaw using dynamic_reconfigure and converting back to a quaternion it seems like the pose orientation is not used at all. Is this expected?

[2018-06-22 09:16] bochen87 opened #171 "ROS Melodic release?"
Hi,

Are you planning on releasing versions for melodic?

[2018-07-06 02:18] bryanibit commented on #169
@murikill Did you finish the large scale mapping?

[2018-07-09 18:43] ndalmedico opened #175 "Rviz extremely slow when showing grid maps"
Hi, I don't know if I am missing a depency or something, but the grid map displays slows down Rviz to 1fps, even when the map is small. Octomaps on the other hand are ploted in 30fps like always.

Using the simple demo as example. I can see the octomap generated from the grid map in 30fps, but enabling the grid map message immediatly brings the fps to 1. Rostopic hz on the grid map message gives m

[2018-07-10 11:40] murikill commented on #169
@bryanibit I'm using grid_map for small maps. For large matrices you need to have a lot of memory on your pc.

[2018-07-10 16:30] bryanibit commented on #169
@murikill can you provide some thoughts about mosaic pointclouds to a large map with grid_map?

[2018-07-11 06:30] #169 closed

[2018-07-19 03:02] fmascarich opened #176 "Crashing with normal filter"
I'm running the elevation mapping package with a picoflexx monstar and I'm moving onto playing with the gridMapFilters/NormalVectorsFilter.

The filter node crashes in the computeWithArea function of the NormalVectorsFilter.cpp. Specifically, I get :

`Error in /home/XXXXXX/lib/grid_map_demos/filters_demo': realloc(): invalid next size: 0x00000000012231e0`

Its calculating:
`const int maxNumberOfC

[2018-07-20 12:50] nan0755 opened #177 "New data type in grid layer"
I'm using grid_map in my project, and I want add pcl::PointXYZI data type in the layer, but grid_map only support for float type. I know this is for other function , such as filter, but if I just want to store other type of data, I have to code a new data structure. So can other data type be supported in the future?

Thank you!

[2018-07-23 20:35] fmascarich commented on #175
When you're building the package, make sure you use -DCMAKE_BUILD_TYPE=Release. Mine was updating at around 0.25 hz before I remembered to set the cmake flag.

[2018-07-24 08:17] Myzhar opened #178 "Any plan for ROS2?"
Hi,
what is your plan about a ROS2 version of grid_map?

I'm adding grid_map support in a sensor node with an eye on ROS2 and knowing what you are going to do with ROS2 is really important for my decisions.

Thank you
Walter

[2018-07-24 08:35] pfankhauser commented on #178
Thanks for reaching out @Myzhar. We are planning to release a version of Grid Map for ROS 2, but I cannot give you a release date. If you have some spare time to look into the changes that will be required, it would help us to speed up the process.

[2018-07-24 10:56] Myzhar commented on #178
Since GridMap library is ROS indipendent I think that the only required changes are relative to the ROS nodes that you developed. However I will let you know.

[2018-07-24 11:02] pfankhauser commented on #178
Ok great, I'll keep this issue open for the discussion.

[2018-07-24 18:21] ndalmedico commented on #175
YES! THANK YOU VERY MUCH! That was it! From <1 to 30 fps

Closing the issue

[2018-07-24 18:21] #175 closed

[2018-07-26 08:08] pfankhauser commented on #171
Hi @bochen87,
Yes, Grid Map will also be released for the latest versions of ROS, but I cannot give you a date right now. In the meanwhile, have you tried to build Grid Map from source?
-Peter

[2018-07-30 08:57] flbeck commented on #171
Hi,

I recently tried to use grid_map with ROS Melodic on Ubuntu bionic. The only issue I faced, when compiling from source, was that the RViz plugin did not work because of the migration to tf2 (see [rviz migration](http://wiki.ros.org/melodic/Migration)). Simply replacing the `tf` namespace with `tf2_ros` was sufficient for it to work. However, I don't think it is backward compatible this way.

[2018-07-30 09:17] pfankhauser commented on #171
Thanks for checking this out, since `tf2` also exists on older versions of ROS, this might actually work. Yes please, go ahead and do a PR.

[2018-07-30 14:25] skohlbr opened #180 "SpiralIterator crashes when used on moving grid_map"
I'm on 16.04/Kinetic/GridMap 1.6.0 from debs and attempting to use a SpiralIterator on a GridMap that is moved along with the robot pose. Below is the code I use, minimally edited for brevity (e.g. omitting the computation of start_pos etc.).

[code]

This reliably segfaults when dereferencing the iterator , backtrace below. Given the iterator use is pretty basic, I'm not sure how I screwed up. I'

[2018-07-30 14:53] skohlbr commented on #180
Note the segfault on dereferencing sounds a lot like the problem described and fixed in issue #114. I'm wondering if perhaps the fact that I use a moving map causes a similar fault.

[2018-08-06 21:41] bpwilcox commented on #178
Hi, I'm with a team working on the new [ROS2 Navigation package](https://github.com/ros-planning/navigation2). We are looking to support grid_map among other map representations (see issue: https://github.com/ros-planning/navigation2/issues/18)  in the new navigation stack, so we would be greatly interested in hearing any progress made on an official ROS2 version. As @Myzhar  mentioned, there may

[2018-08-14 09:18] taogashi commented on #157
The same for `getIndex(position, index)`. This is the Gperftools result:
![screenshot from 2018-08-14 17-18-01](https://user-images.githubusercontent.com/4775141/44083265-19e58c86-9fe6-11e8-9940-26e4ff933024.png)

[2018-08-17 14:59] mescarra opened #181 "Bandwidth tuning"
So, the domain I'm currently working at, requires huge maps with high resolutions. The problem is that I'm connecting to my robot through a wireless network, so I'm not that comfortable giving away bandwidth.

I also have to stream video, but currently the main bottleneck in my project is the grid_map. So far, I've reduced publishing frequency and map resolution, but still I'm way off requirements

[2018-08-17 15:05] skohlbr commented on #181
There are some external tools you could use, for instance
 * https://github.com/Eurecat/ros_topic_compressor
*  https://github.com/tu-darmstadt-ros-pkg/topic_proxy
* https://github.com/AIS-Bonn/nimbro_network.

They all allow compression using BZ2 or LZ4, which can compress grid map data with often a fairly regular structure (lots of NaNs etc.) very well.

[2018-08-17 15:44] pfankhauser commented on #181
Another idea would be to convert the grid maps to an image and use the ROS [image_transport](http://wiki.ros.org/image_transport) for compressed streaming, but I haven't tried this myself.

Please, let us know about your experience for the things you try out.

[2018-08-21 17:17] mescarra commented on #181
Hello guys,

I tried the **ros_topic_compressor** and it works perfectly. Easy to set up and achieves a very high compression rate on the grid_map topic.

Thank you very much for the advice!

[2018-08-21 17:17] #181 closed

[2018-08-27 10:22] lorenwel opened #182 "Meta-package missing some sub-packages"
E.g. grid_map_octomap or grid_map_costmap_2d.
Is this intentional?

[2018-08-27 11:56] pfankhauser commented on #182
Nope, that's not intentional. I will fix it or you can create a PR if urgent, ok?

[2018-08-28 07:12] lorenwel commented on #182
Ok, thanks.
It's not urgent. Simply requires one to build those packages separately if they're needed. All else is working.

[2018-09-04 20:32] skohlbr commented on #167
I'm experiencing the same issue. For small grid_maps, the plugin works fine, but it goes as far as completely locking up my machine, requiring a restart (!) for if the map is "too large". This is on 16.04/Kinetic/latest from .debs. Don't have time for a comprehensive test series, but will update this ticket as I come across datapoints :)

[2018-09-11 09:19] ghost opened #183 "From GridMap to Image"
Hello,

I have just started to play with gridmap.
I am trying to convert /map messages to image (The task is to show the map in image and then embed it into a browser).

I found this class but i am not sure how to use it out: http://docs.ros.org/jade/api/grid_map_cv/html/classgrid__map_1_1GridMapCvConverter.html

Can anyone please guide me to follow through and make it work.

Best,

[2018-09-14 06:57] lianghu3124 opened #184 "filters demo runs very slow."
I run  filters_demo.launch demo on my desktop computer, which has 16GB RAM and i7-8700 CPU and GTX-1060 GPU.  I used the default image terrain.png
RVIZ shows grid_map very slow， and offen goes frozen.
When I check the cpu and gpu usage, it does't seem to be overloaded.
If I use a smaller image which is 1/4 of the  terrain.png, it can show up.
![screenshot from 2018-09-14 14-54-50](https://user-ima

[2018-09-14 07:11] skohlbr commented on #184
This reads somewhat similar to #167 (i.e. the rviz plugin becomes extremely slow with increasing map size).

[2018-09-25 13:18] ChristofDubs opened #186 "getPosition(Index, Position) returns wrong results if the map has been moved"
Hello there,

I am a generally happy user of the grid_map library and think it offers a very sensible set of functionalities.

However, I came across an issue today which I traced down to be an error in the function `bool GridMap::getPosition(const Index& index, Position& position) const`. I started writing a unit test in order to reproduce the error with a few lines of code:

[code]

The reported

[2018-10-02 23:43] skohlbr commented on #186
Another issue that apparently only manifests on a moving map is described in #180.

I also ran into the issue you describe and discovered that calling
`grid_map::wrapIndexToRange(index, grid_map_.getSize());` fixes these kinds of crashes. I basically apply this function to any index I use per default when operating on moving map and don't see this kind of crash anymore. Not quite sure if that's a

[2018-10-31 16:01] BrunoEduardoCSantos opened #187 "undefined reference to `grid_map::GridMapRosConverter::toMessage(grid_map::GridMap const&, grid_map_msgs::GridMap_<std::allocator<void> >&)' collect2: error: ld returned 1 exit status"
Hi,
I am converting from GridMap to ros message like this:

[code]
Although,I am obtaining the following error:
[code]

Any ideas why is this happening?
Regards,
Bruno

[2018-10-31 16:41] BrunoEduardoCSantos commented on #187
The problem was adding in CMake:
[code]

[2018-10-31 16:41] #187 closed

[2018-10-31 17:27] brunoeducsantos opened #188 "Elevation map doesn't look correct & crashes Rviz"
Hi,
I am converting a probabilistic map like octomap ( called skimap) to gridmap like this:
[code]
I inspired myself on octomap conversation. Although, for some reason it has the following issues:
- freezes RViz constantly
- the elevation map doesn't look correct

The elevation map looks like this:

![2 5dmap](https://user-images.githubusercontent.com/3111976/47806644-242f8f00-dd32-11e8-8373-49044

[2018-11-05 17:45] nathangeorge1 commented on #153
add to CMakelists.txt
[code]

add to package.xml:
[code]

[2018-11-14 11:26] #188 closed, assigned to nobody

[2018-11-15 10:23] BrunoEduardoCSantos opened #189 "Spikes in a smooth surface"
Hi,
I converted a similar data structure as octomap to Grid map in a similar fashion to grid map converter from octomap.
Although, for some reason in a fairly smooth terrain I am getting spikes (in the middle of path). I applied some filters to smooth but it is not working.
![spikes](https://user-images.githubusercontent.com/3111976/48546490-6a532980-e8c0-11e8-9228-13da6762801d.png)
Any suggestion

[2018-11-20 11:42] chronofei opened #190 "about function extendToInclude"
Hi Dr. Péter,
I am working with grid map recently, and I found that the function extendToInclude in the file of grid_map_core/src/GridMap.cpp cann't get the correct result. I point that in the following case. If topLeftCorner  at position (x,y) and topLeftCornerOther at position (x+0.75*resolution_, y), then follow the program we will get the wrong position_.

[2018-11-21 14:10] #190 closed

[2018-11-22 12:16] #189 closed

[2018-11-27 09:59] BrunoEduardoCSantos commented on #60
@pfankhauser I added data another grid using `addDataFrom()`  and publish as occupancy grid. Although, for some reason the occupancy grid is swinging around and it doesn't always align with grid map . Any thoughts?
Thanks

[2018-11-27 10:04] BrunoEduardoCSantos commented on #60
PS: I am using the following flags in `addDataFrom()`   :
`new_grid_map.addDataFrom(newGridMap,true,false,false, layers)`

[2018-11-28 15:48] BrunoEduardoCSantos opened #192 "addLayerFromImage height scaling and map duplicate"
Hi @pierrefranklin ,
My goal is converting image to grid map . For this purpose I used `addLayerFromImage` as follows:
[code]

Although, my map shows duplicate and having height scaling.
![heightmapscaled](https://user-images.githubusercontent.com/3111976/49163365-d142fa80-f324-11e8-9734-25934d9c9eea.png)

Is it a problem with height scaling conversion?
Regards,
Bruno

[2018-12-04 09:36] redkite commented on #171
@pfankhauser Are you still looking into this? The PR has been open for quite a while.

I could also supply a PR with an updated `frame_manager.h` from melodic which includes deprecation warnings from melodic to not use boost smart pointers anymore.

In any case a push to a melodic release would be highly appreciated.

[2018-12-06 16:20] MirkoFerrati commented on #171
I am also looking forward for the melodic update! I went forward with #179  and fixed the info/header issues so that frame_manager.h is no longer needed since it was just a matter of replacing info.header with header and changing the messages. @pfankhauser do you think it makes sense to comply with rviz use of message headers? do you want the PR?

[2018-12-07 22:47] jinkunw commented on #98
I met the same problem. When both `getIndexLimitedToMapRange` failed, `iCell_` and `nCells_` were not initialized. The problem is solved if I simply set them to zero in the constructor.

[2018-12-13 02:14] joshjowen commented on #192
It appears to me that you're file is saved as 16-bit but you are loading it with cv::imread as 8-bit. try changing
` cv::imread(file, CV_LOAD_IMAGE_COLOR);`
to
`cv::imread(file, CV_LOAD_IMAGE_COLOR | CV_LOAD_IMAGE_ANYDEPTH);`

[2018-12-13 10:39] BrunoEduardoCSantos commented on #192
It worked out @joshjowen ! Thanks a lot!

[2018-12-13 10:39] #192 closed

[2018-12-20 10:08] euivmar opened #193 "Is it windows compatible?"
I would like to use this library in Windows. Is it possible? The main dependency is Eigen but I have seen in cmakelist.txt that catkin (ROS) is requiered. Do you think I would be able to transform easily to a CMAKE project without ROS?

[2018-12-28 20:57] dominikbelter opened #194 "Boundaries of the elevation map"
The issue is related to the topic:
https://github.com/ANYbotics/grid_map/issues/53
The problem exists when the getSubmap method is used. When the following code is executed:
  bool isSuccessLocal;
  grid_map::GridMap localMap = elevationMapUser_->getMap().getSubmap(nominalPosition.vector().head(2), grid_map::Length(1.0, 1.0), isSuccessLocal);
  grid_map::Matrix localMat  = localMap.get(parameters_

[2019-01-07 21:52] JesusCoyotzi commented on #158
I realize this is an old issue but i think it could be a nice feature to be able to load a cloud and turn it into an occupancy grid.
In the meantime and if anyone needs to do this you can use octomap_mapping to turn a pointcloud into and octomap and then project it into a conventional 2D occupancy grid.

[2019-01-08 10:45] marco-tranzatto commented on #170
Hi @erichahn I need to do a similar thing. What about the following procedure:

1. convert `grid_map` object to a `cv_image`,
2. apply openCV functions to obtained the desired transformation,
3. convert the result back to `grid_map`?

I guess there can be some artifacts from the procedure, but I see no better way. What do you think @pfankhauser ?

[2019-01-11 08:44] EricWu123 commented on #156
I also found that problem. I must set the name as "elevation", and I can show my map in rviz.

[2019-01-15 09:36] marco-tranzatto commented on #176
Hi @fmascarich , I had a similar issue and what solved my problem was to increase the [radius](https://github.com/ANYbotics/grid_map/blob/master/grid_map_filters/src/NormalVectorsFilter.cpp#L36) of the NormalVectorsFilter parameter to something greater than your map resolution (you can get the resolution by `rostopic echo /<topic_of_your_grid_map>/info`).

I hope this helps,
Marco.

[2019-01-15 09:40] marco-tranzatto opened #195 "Sanity Check on NormalVectorsFilter "radius""
Does it make sense to add a sanity check on the `NormalVectorsFilter` about the `radius` parameters?
Based on what I see today (plus this other possible related issue #176 ), [here](https://github.com/ANYbotics/grid_map/blob/master/grid_map_filters/src/NormalVectorsFilter.cpp#L120) if the `estimationRadius_` is less than the resolution of the map, then the filter does consider multiple cells to co

[2019-01-18 09:26] pengjiawei opened #196 "how to count how many point in every grid when I convert pcd to grid map"

[2019-02-08 02:58] proboticks opened #199 "Grid Cell Margins don't include lower limits"
First of all, thank you for sharing your amazing grid mapping package :D.

Wanted to know if there a way to change how cell intervals are calculated. Right now, the lower limits are included but the higher limits in the xy space are not. This creates an issue when using point cloud information(gathered from ray tracing information from a simulation) to populate a grid map in my case.

Ex: Let the

[2019-02-21 07:00] raghul9706 opened #201 "Algorithm for SDF generation"
Hi,
               Thanks for providing such an excellent package. I am trying to use the grid map to sdf conversion. Can you please specify the algorithm behind sdf construction, so that I could get clearer on how it's being done?

[2019-02-21 09:20] pfankhauser commented on #201
Hi @raghul9706,
Grid Map SDF is based on this work ([PDF](http://cs.brown.edu/people/pfelzens/papers/dt-final.pdf)):

    Distance Transforms of Sampled Functions
    P. Felzenszwalb, D. Huttenlocher
    Theory of Computing, Vol. 8, No. 19, September 2012

-Péter

[2019-02-21 09:31] raghul9706 commented on #201
Hi @pfankhauser
       Thank you so much.

[2019-02-21 09:31] #201 closed

[2019-02-27 13:51] samuelba commented on #171
I did the release for melodic. Should be in the next sync. https://github.com/ros/rosdistro/pull/20399

[2019-02-27 13:51] #171 closed

[2019-02-27 15:01] sherifsas commented on #158
@aybakana could you tell me how to convert octomap message into gridmap using gridmap_to_octomap_demo ?

[2019-02-28 04:52] aybakana commented on #158
Sorry, I've mistakenly written gridmap_to_octomap, it must be [octomap_to_gridmap_demo_node](https://github.com/ANYbotics/grid_map/blob/master/grid_map_demos/src/octomap_to_gridmap_demo_node.cpp)

[2019-02-28 11:58] sherifsas commented on #158
@aybakana Thanks, yeah I am using octomap_to_gridmap_demo_node to convert the octomap published by the octomap_server node. However, I could not send the node output to the octomap_to_grid node. Here is my launch file.

<launch>
  <rosparam command="load" file="$(find grid_map_demos)/config/octomap_to_gridmap_demo.yaml" />

  <node pkg="octomap_server" type="octomap_server_node" name="octomap_serv

[2019-02-28 12:00] sherifsas commented on #158
[octomap_to_gridmap.txt](https://github.com/ANYbotics/grid_map/files/2914842/octomap_to_gridmap.txt)

[2019-02-28 19:31] aybakana commented on #158
You must have forgotten to remap the point cloud input of octomap server. Can you try [this](https://github.com/aybakana/grid_map/blob/master/grid_map_demos/launch/pointcloud_to_gridmap.launch)? I have assumed that your sensor range is 100m and point cloud topic is /velodyne_points and resolution for octomap is 0.05. You can change them as you wish.

[2019-03-07 09:11] lasdasdas opened #205 "Mixed opencv / ROS headers?"
https://github.com/ANYbotics/grid_map/blob/42a544a6255acd752ff9938b94154cf3a293017e/grid_map_cv/include/grid_map_cv/GridMapCvConverter.hpp#L14

Hi, we are using grid_map with opencv but without ROS. We cannot compile the project without removing the above line. Shouldn't that go on the ROS headers (importing here  #include "opencv2/core.hpp" or any other relevant header)?

If we remove the line it

[2019-04-01 14:30] ThomasEmter commented on #88
Hi all,

I tested the alignment fixes with the current master and rebased the fixes accordingly.

[2019-04-08 23:33] NeilNie opened #207 "How to convert grid_map to costmap_2d using grid_map_costmap_2d?"
Hello,

I am wondering if someone could provide an example of how to convert a `grid_map` to `costmap_2d`, and publish the costmap using ROS. Furthermore, if `grid_map_costmap_2d` is the way to go, it seems like the `grid_map_costmap_2d` package doesn't come installed with `grid_map`. Are there additional steps I need to take to install `grid_map_costmap_2d`?

Thank you very much!

Here is my code

[2019-04-09 06:59] maximilianwulf commented on #207
Hi @NeilNie,
You can use the function `toOccupancyGrid` in [GridMapRosConverter.cpp](https://github.com/ANYbotics/grid_map/blob/master/grid_map_ros/src/GridMapRosConverter.cpp) on line 251. It will generate an occupancy grid for you and then you can [convert](https://answers.ros.org/question/236841/converting-between-costmap_2dcostmap2d-and-nav_msgsoccupancygrid/) it to a costmap_2d.

`grid_map_co

[2019-04-09 11:45] NeilNie commented on #207
Hi @maximilianwulf Thank you very much for your comment. I will try this method.

[2019-04-09 15:24] BrunoEduardoCSantos opened #208 "Image size does not correspond to grid map size"
Hi ,
My goal loading an image to an elevation grid map. For this purpose I use the following code:

[code]
I obtained the following error:

![map](https://user-images.githubusercontent.com/3111976/55812975-db031880-5ae3-11e9-9c6e-d8d2892d8bc9.png)

Any ideas what could be happening?
Thanks in advance,
Bruno

[2019-04-09 16:35] #208 closed

[2019-04-10 07:53] maximilianwulf commented on #207
Hi @NeilNie, the answer is a bit sparse.
ROS does not provide a _costmap_2d_ message, therefore, it cannot be published. It is rather a C++ API that the common navigation tools use internally, as explained [here.](https://answers.ros.org/question/60026/difference-between-costmap2d-and-occupancygrid-not-clear/)

To send the information to another node you have two possibilities:
 - publish a _grid_

[2019-04-10 11:43] NeilNie commented on #207
Hi @maximilianwulf Thank you very much for the thorough response. I was able to generate a costmap by using the `move_base` node. My issue has been resolved. Closing for now.

[2019-04-10 11:43] #207 closed

[2019-04-11 13:34] BeatScherrer opened #209 "image pointer never deleted in SDF"
The image pointer created at https://github.com/ANYbotics/grid_map/blob/master/grid_map_sdf/src/SignedDistanceField.cpp#L84 is never deleted.

PS: Thanks for your effort put in this great library

[2019-04-11 14:15] BeatScherrer commented on #209
Further I'm not quite sure why the SDF encorporates a vector of matrices, the dt transforms binary images to distance fields. I don't manage to see the purpose of this additional dimensionality since the dt is only performed in 2D. The amount of layers added is proportional to the indices in the input matrix.

Unfortunately there is no documentation for this module.

[2019-04-17 08:17] StefanFabian opened #210 "Crash when changing topic before first message"
Steps to reproduce:

1. Add display
2. Select a topic that doesn't publish any messages
3. Switch to a different topic

Reason: The destructor of GridMapVisual does not check whether the manual object was created before destroying it. If computeVisualization wasn't called, the manual object is not initialized.

I've made a pull request with a fix.

[2019-04-17 10:34] maximilianwulf commented on #205
Hi, @lasdasdas

Thank you for pointing this out. Could you make a pull request so we could test it?

[2019-04-17 10:36] maximilianwulf commented on #210
Hi @StefanFabian,

thank you very much for the pull request. We will check it.

[2019-04-17 10:41] maximilianwulf commented on #209
Hi @BeatScherrer, did run into a segmentation fault?

Can you propose a  pull request that fixes the issue?

[2019-04-18 10:54] #210 closed

[2019-04-18 19:21] StefanFabian opened #212 "Missing frame id in message crashes rviz"
Publishing a `GridMap` message without a frame id will crash rviz.
I know that it will obviously fail without a frame id but crashing seems a bit harsh ^^
I've traced it to the `FrameManager` double calling `messageFailed` in the `failureCallback` which is not implemented.
I don't know what the `FrameManager` hack is for, though, so I didn't look for a way to fix it and simply added the frame id i

[2019-04-20 20:00] lasdasdas commented on #205
Yes, I will deliver during this upcoming week.

[2019-04-23 17:31] snieh opened #213 "Faster polygon iterator?"
Is there a way to run the polygon iterator faster?
My grid_map has a size of 200x200 with resolution of 0.25, which is quite big (640.000 cells) and a even bigger polygon which intersects the gird_map. Around about 50.000 cells inside the polygon of the grid_map (globalMap) then need to be set to an value, which requires often up to 3 seconds...

for (grid_map::PolygonIterator iterator(globalMap,

[2019-06-08 09:16] zoojing commented on #213
The provided iterator would call function is_Inside for each cell to judge if it is out of range. however, is_inside has O(n^2)  complexity, which means the polygon iterator has O(n^3) complexity.
In my opinion, diy polygon scan or use bfs would be a nice idea.
Ps: the index return from get_index is not a normal sequence when you move the grid map.
Good Luck!

[2019-06-14 10:37] gouyiyong opened #214 "sudo apt-get install ros-$ROS_DISTRO-grid-map"
run sudo apt-get install ros-$ROS_DISTRO-grid-map, the problem is here, how can i fix it? thanks
Err:1 http://packages.ros.org/ros/ubuntu xenial/main amd64 ros-kinetic-grid-map-core amd64 1.6.1-0xenial-20190227-080735-0800
  404  Not Found [IP: 64.50.233.100 80]
Err:2 http://packages.ros.org/ros/ubuntu xenial/main amd64 ros-kinetic-grid-map-cv amd64 1.6.1-0xenial-20190320-152756-0800
  404  Not Fo

[2019-06-14 18:01] samuelba commented on #214
I think this is not a problem of grid_map, rather a problem of the ROS package repository.

[2019-06-14 18:01] #214 closed

[2019-06-14 18:03] samuelba commented on #214
If you got to http://packages.ros.org/ros/ubuntu/pool/main/r/ you will see that all the grid_map packages are there.

[2019-07-20 17:54] immuhammadadil commented on #142
You just need to change the path of the dataset

[2019-07-22 20:59] LottieWang commented on #158
I saw there is a directory called **grid_map_pcl**. Is it designed for converting PointCloud to GridMap? If it is, could demo be provided?

[2019-08-15 04:27] Houjiafan opened #215 "The return value of getIndex() is not consistent with the figure."

[2019-08-15 04:34] Houjiafan commented on #215
The index is not refreshed if the grid is still in sight, but it supposed to be according to the fugure. Like the left upper corner grid is supposed to be (0,0) anyway.

[2019-08-28 06:48] linuxscofield commented on #215
In default, the grid_map index not refreshed after map moved. (maybe to save time?). Thus, the right operation should be: **Rearranges data such that the buffer start index is at (0,0)**  after moving the map. For example:
`if (!map.isDefaultStartIndex()) {
    map.convertToDefaultStartIndex();
  }`

[2019-08-29 11:09] brunoeducsantos opened #216 "Conversion from point cloud to grid map elevation issue"
Hi,
I developed a conversion from point cloud to grid map elevation layer. Although, for some reason the published point cloud (white) is not totally aligned with height map.
![heightmappointcloud](https://user-images.githubusercontent.com/3111976/63935579-b2a99580-ca55-11e9-8d04-783c8907612a.png)
Any ideas why it could be happening?
Here it is the snippet of code:
// Set up grid map geometry.

[c

[2019-09-12 01:37] icesit opened #217 "about SetGridMap.srv"
thank you for the excellent sharing.
when i build the elevation_mapping, it recall a bug that no SetGridMap.h exist.
i install the grid_map by apt install approach, but i am afraid that the apt version is behind the newest version in this github repo, because i can find the SetGridMap.srv in this repo while no SetGridMap.h in my ros install path and i am sure i have install the grid_map_msgs.

[2019-09-30 18:48] Eraledm commented on #217
I have the same problem when trying to compile elevation_mapping, which version do we have to install in order to get the packages compiled correctly?

[2019-09-30 20:20] bpwilcox commented on #178
I'd like to revive this thread. As we are discussing the current design of core interfaces in the navigation2 stack (see https://github.com/ros-planning/navigation2/issues/1173) , we should consider the support of map representations outside of costmap_2d.

@pfankhauser Has there been any investigation into this package for ROS2?

[2019-10-02 07:13] ubicray opened #218 "How would you use this with move_base?"
Sorry if it's a dumb question:
I wanna use this library with move_base with existing costmap_2d plugins and such,
How would one go through with that?

[2019-10-07 06:42] maximilianwulf commented on #215
The data structure is organized as a 2d ringer buffer. This supports the robocentric moving map behavior of the elevation mapping.
You have to use `map.convertToDefaultStartIndex()` as @linuxscofield already explained.

[2019-10-07 06:42] #215 closed

[2019-10-07 06:53] maximilianwulf commented on #216
Hey @brunoeducsantos, where is the origin of the point cloud? Since the elevation map only gets visualized with an (x, y) coordinate it could be that the point cloud has a z offset.
Were you able to debug it in the meantime?

[2019-10-07 06:58] maximilianwulf commented on #217
@hogabrie do you have an idea on that?

[2019-10-07 07:43] maximilianwulf commented on #218
Hi @ubicray, can you elaborate on your idea?

[Elevation mapping](https://github.com/ANYbotics/elevation_mapping) is a package that makes use of grid_map, maybe it helps you.

[2019-10-07 07:55] hogabrie commented on #218
Hi @ubicray,

Have a look at [this PR](https://github.com/ANYbotics/elevation_mapping/pull/84) in elevation mapping, which implements a costmap_2d layer based on an elevation map. It will probably not make it in to the master branch, however it helps as a starting point.

[2019-10-09 10:32] brunoeducsantos commented on #216
Hey @maximilianwulf , I was able to debug. It is just the way I assign height to certain points in the grid.
Thanks for your feedback.

[2019-10-09 10:32] #216 closed

[2019-10-09 10:39] maximilianwulf commented on #216
Good to hear, so the values of `voxels[i].z` were wrong or is it actually in the code?

[2019-10-09 13:42] brunoeducsantos commented on #216
It is in the code. For removing the spikes in the free robot navigable area, I apply a smoothing using knn to remove outliers, setting the height by default to a certain value.

[2019-10-10 06:47] LDX596999414 commented on #217
I also have this problem. Who has solved this problem?

[2019-10-10 06:55] maximilianwulf commented on #216
Thank you.

Just for completion and future travelers, Grid map also provides smoothing filters, and you could also use median filters from OpenCV to filter out outliers.

[2019-10-10 07:07] maximilianwulf commented on #217
As @icesit supposed the official release is a bit behind. For now, you have to compile it from source. We will make sure that with the next ROS release grid_map will be updated.
Sorry for the inconvenience.

[2019-10-10 08:04] LDX596999414 commented on #217
Thank you very much. By the way you said, the problem has been solved.

[2019-10-10 08:08] maximilianwulf commented on #217
No, it will be solved.

[2019-12-08 04:32] jacobhuesman opened #219 "ROS2 Port"
I'm going to start the process of porting `grid_map` over to ROS2. I noticed some chatter about it on #178, but haven't seen any branches or forks.

@pfankhauser can you create a `ros2` branch that I can submit pull requests against?

[2019-12-09 06:51] sasupe opened #220 "GridMap layer algorithm"
Hi @maximilianwulf and team,
Thank You for this great tool.

I am using GridMap to generate a layer similar to elevation, but independent of the pose. Just purely based on the pointcloud at an instant. I am clearing the layer at the end of every time instant.

On implementing this I get the results as following:
![no_initial](https://user-images.githubusercontent.com/43161849/70413061-773f3f80-1a2

[2019-12-10 05:48] thecreator-hr commented on #159
I am still not able to resolve the problem after updating gcc
I am getting this

catkin_make
Base path: /home/harsh/catkin_ws
Source space: /home/harsh/catkin_ws/src
Build space: /home/harsh/catkin_ws/build
Devel space: /home/harsh/catkin_ws/devel
Install space: /home/harsh/catkin_ws/install
####
#### Running command: "make cmake_check_build_system" in "/home/harsh/catkin_ws/build"
####
/usr/bin/c

[2019-12-11 09:47] AlexReimann commented on #220
Are you sure it is not just a visualization issue?
Sounds to me like values are simply cut off when visualizing.

[2019-12-19 18:17] maximilianwulf commented on #159
@thecreator-hr can you try:

`catkin build grid_map`

[2019-12-19 18:27] maximilianwulf commented on #220
Hi @sasupe, can you try the pcl loader? https://github.com/ANYbotics/grid_map/tree/master/grid_map_pcl and check if you get the same result?

[2019-12-19 18:29] maximilianwulf commented on #220
As @AlexReimann suggested, can you check if there are values in the elvation map at that position?

[2019-12-19 19:01] maximilianwulf commented on #219
Hey @jacobhuesman, PRs are very welcome!

Feel free to add PRs to this [ros2 branch](https://github.com/ANYbotics/grid_map/tree/feature/ros2).

[2019-12-21 04:15] Jeromelee95 opened #222 "Adding data points to grid map"
Hi,

I am trying to input data of position and elevation recorded from my robot into the grid_map package. The output I am trying to achieve will be a 3d map. I have already written the subscriber portion to subscribe to the sensor topics. However, I do not know how to assign the data from the sensor topics to the point on the map. Can anyone advice me how to carry on?

Thanks for your time!

[2019-12-24 14:09] ahertle opened #223 "SubmapIterator does not check map bounds"
Hi,

I use the SubmapIterator to iterate over the neighbors of a given index:
[code]
When I iterate over the neighbors of a "border" cell, the SubmapIterator returns indices which lie outside the map.

Other iterators (as seen in the demo/readme) respect the grid_map bounds and only return valid indices. I expected the SubmapInterator to behave in the same way. Or am I supposed to check the return

[2019-12-25 16:30] sasupe commented on #220
Hi!
Thank You for your inputs. The values are actually present in the elevation map but has an issue while visualizing.

[2019-12-25 16:30] #220 closed

[2019-12-27 12:24] thecreator-hr commented on #159
what I did was changed this
`image = imread("/home/riotu/catkin_ws/src/ros_essentials_cpp/src/topic03_perception/images/chess.jpg", CV_LOAD_IMAGE_COLOR); // Read the file "image.jpg".` to
imread("/home/riotu/catkin_ws/src/ros_essentials_cpp/src/topic03_perception/images/chess.jpg", 1); // Read the file "image.jpg".

[2020-01-02 12:18] #223 closed

[2020-01-02 12:28] ahertle commented on #223
Ok, documentation says to check the map boundaries before accessing the index

[2020-01-06 07:55] maximilianwulf commented on #222
Hi @Jeromelee95, isn't [elevation_mapping](https://github.com/ANYbotics/elevation_mapping) doing what you want?

[2020-01-06 07:56] maximilianwulf commented on #220
@sasupe thanks for the reply. Could you share the a small rosbag with the grid map for debugging?

[2020-01-06 07:58] maximilianwulf commented on #159
Thanks for the update, feel free to reopen if there are other issues.

[2020-01-06 15:42] Jeromelee95 commented on #222
Hi @maximilianwulf, thanks for your reply. i dont really understand how elevation_mapping work. Could you guide me through how to work with it?
I have only tried to work with the demo but there are errors running it

[2020-01-17 13:20] maximilianwulf commented on #222
Hi @Jeromelee95, unfortunately I cannot guide you step by step. But the underlying documentation of elevation map is very descriptive. Have a read [here](https://www.researchgate.net/publication/261949305_Robot-Centric_Elevation_Mapping_with_Uncertainty_Estimates).

[2020-02-11 20:43] williamhaarhoff opened #225 "zero copy in GridMapMsgHelpers.hpp"
I am unable to zero copy from a gridmap message type into the corresponding eigen matrix using the `grid_map::multiArrayMessageMapToMatrixEigen()` function in GridMapMessageHelpers.hpp.

Here is code to reproduce this:
[code]

The output of which was:

[code]

[2020-02-25 18:16] maximilianwulf commented on #225
Hi @williamhaarhoff, thank you for the issue, we will have a look.

[2020-03-11 23:30] sasupe opened #226 "Polygon Iterator issue. Is the frame relevant?"
Hi @maximilianwulf and team!
This library has been a great help to manipulate 2.5D data! Thanks!

I am using polygon iterator as shown in the gif to iterate through all the points inside it. While making grid_map::Polygon polygon it is attached to a sensor frame on the robot and the points are defined with respect to that. The map is attached to a fixed frame but moves according robot's position.

[2020-03-31 06:54] aditya369007 opened #227 "Build error when compiling from source on ROS for windows."
I am trying to install grid_map on ROS from windows but I am facing the following issue, while the ros package is built from source. Can anyone guide me on how to fix this?

[code]

Thank you!

[2020-03-31 09:12] maximilianwulf commented on #227
Hi @aditya369007, the package is supported for Ubuntu 18.04 and ROS melodic only at the moment. We can not help. But maybe someone from the community has an idea.

[2020-03-31 14:03] aditya369007 commented on #227
Okay thank you

[2020-03-31 21:16] #227 closed

[2020-04-13 13:54] lisim51 opened #228 "can it build gridmap realtime using velodyne 16?"
it is a gread work. could you give an example of building grid map using velodyne 16 lidar? it work?

[2020-04-29 08:31] #195 closed

[2020-05-06 06:27] SteveMacenski commented on #219
@maximilianwulf I have some folks working with me on navigation2-land that have interest in working to port over code to ROS2 with the goal of having this replace potentially costmap 2D (or chunks of it).

It might be good to have you join our community slack (navigation2.slack.com) so we can chat about this. I also want to figure out what a reasonable maintenance arrangement looks like if you're

[2020-05-12 09:22] maximilianwulf commented on #219
Hi @SteveMacenski, thanks a lot for the request. We are very interested in helping to port `grid_map` to ROS2.
Does that mean you already have a plan for the port and we should discuss it on slack?

Yes, we are willing to help review PRs.

Yes, definitely.

Agreed, we think the same and would like to have it on this repository.

[2020-05-12 20:55] SteveMacenski commented on #219
We're in the early stages of talking about a port, there's interest shown in helping me redesign the navigation2 environmental representation (e.g. remove costmap 2D and replace it with this + layers built on top). @Marwan99 has expressed interest in helping with the initial port of grid maps for ROS2. From there, its a little fuzzy how we proceed (build a new 3D costmap implementation on top, do

[2020-05-13 07:51] maximilianwulf commented on #219
Okay, let's discuss it on Slack.

I will add you both, but I have to check with the team how that is done.

[2020-05-13 08:53] maximilianwulf commented on #219
Okay, let's discuss it on Slack.

I will add you both, but I have to check with the team how that is done.

[2020-05-13 18:55] SteveMacenski commented on #219
Sounds good!

[2020-05-14 08:01] maximilianwulf commented on #219
Hey @SteveMacenski, can you send me an invite for the slack channel?

[2020-05-14 19:19] Marwan99 commented on #219
https://navigation2.slack.com/

[2020-05-14 19:24] SteveMacenski commented on #219
Marwan posted the link, if you have issues joining, if you give me your email I can send you a specific invite.

[2020-05-20 20:12] SteveMacenski commented on #219
@maximilianwulf did you join? We'd like to get started on this this week ideally

[2020-05-23 13:31] maximilianwulf commented on #219
Hi @SteveMacenski, I seem to have problems logging in.

Can you send a mail to this email address temporary.maximilian@gmail.com and I will share my slack email address?

Thanks.

[2020-05-26 16:25] SteveMacenski commented on #219
Email sent

[2020-06-03 06:29] jspricke opened #230 "Noetic release"
please provide a noetic release.

[2020-06-04 13:58] jspricke commented on #230
I've opened a PR with fixes for this in #231.

[2020-06-05 20:52] Marwan99 commented on #219
Ported packages tracker:

- [ ] grid_map
- [ ] grid_map_core
- [ ] grid_map_costmap_2d
- [ ] grid_map_cv
- [ ] grid_map_demos
- [ ] grid_map_filters
- [ ] grid_map_loader
- [ ] grid_map_msgs
- [ ] grid_map_octomap
- [ ] grid_map_pcl
- [ ] grid_map_ros
- [ ] grid_map_rviz_plugin
- [ ] grid_map_sdf
- [ ] grid_map_visualization

[2020-06-08 19:39] SteveMacenski commented on #219
We should also setup CI for the ROS2 branch. Image pipeline has a good simple example https://github.com/ros-perception/image_pipeline/blob/melodic/.circleci/config.yml

[2020-06-24 20:10] SteveMacenski commented on #219
I'm going to tdo SDF and Octomap today and tomorrow

[2020-06-25 20:53] SteveMacenski opened #243 "[ROS2] Add back in pcl methods in grid_map_sdf once pcl_ros is available in ROS2"
currently pcl_ros is not available in ROS2 so the imported headers and conversion functions in grid_map_sdf cannot be fully ported at this time, but all the rest of it is.

Once pcl_ros is ported to ROS2, we can enable this.

[2020-06-26 09:04] maximilianwulf commented on #243
Is the ROS2 navigation group going to do it?
Maybe we have to check if the package can work independent of `pcl_ros`.

[2020-06-26 09:07] maximilianwulf commented on #243
Related to #241 .

[2020-06-26 17:28] SteveMacenski commented on #243
I'm not sure off hand, one project at a time, pcl_ros isn't a small package. I also am a maintainer on that as well so I can help with getting things pushed through but we simply haven't discussed this in the context of the navigation working group

[2020-06-29 07:59] maximilianwulf commented on #243
Okay, thanks. I will check if we can have this package independent of `pcl_ros`.

[2020-07-02 16:47] remod commented on #186
I started using grid map some days ago, allow me to share my insights.

I assume that the behavior you observe is correct. For performance reasons, moving a grid map does not move the underlying Eigen matrix, but only the mapping from position to index (through modifying the starting index). Therefore, a specific index (x,y) will not point to the same position anymore after moving the grid map. Th

[2020-07-03 10:24] maximilianwulf commented on #228
Hi @lisim51, yes, check out this repository: https://github.com/ANYbotics/elevation_mapping
It should do what you want.

Let me know if you have further questions.

[2020-07-03 10:24] #228 closed

[2020-07-03 12:06] maximilianwulf commented on #186
To additionally visualize the behavior, I `move()` the grid maps before iterating in the `grid_map_demos` package.

In the first case, you see the values that you would get by getting the `normal` index:

![submapiterator2](https://user-images.githubusercontent.com/5656831/86467314-7b6ed980-bd35-11ea-9aaf-5a9e4c040e57.gif)

The `move()` operation changes the order of indexing. That is because of t

[2020-07-03 12:06] #186 closed

[2020-07-03 12:15] maximilianwulf commented on #180
Hey @skohlbr,

AFAIK, the spiral iterator does not check if the current index is a valid index in the grid map.

I think if you add a check before you access the data:

[code]

you should be fine. I did not try it on my machine though.

[2020-07-03 12:30] maximilianwulf commented on #226
Hey @sasupe, happy to hear to you like it.

Can you share a code snippet? How do you define the polygon?
I think it depends on that.

[2020-07-08 15:47] brunoeducsantos opened #247 "Error grid_map_pcl"
Hi,
Thanks for your awesome package.
While trying to compiling the package, I had the following error:

[code]

Any help would be appreciated.

Regards,
Bruno

[2020-07-08 15:54] maximilianwulf commented on #247
Hey @brunoeducsantos, which branch are you using?

[2020-07-08 16:06] brunoeducsantos commented on #247
Master

[2020-07-08 16:07] brunoeducsantos commented on #247
I tried this on `GridMapPclLoader` ,
[code]
And it sorted the pcl issue

[2020-07-08 16:18] maximilianwulf commented on #247
Hm interesting, so it is solved?

[2020-07-08 16:20] brunoeducsantos commented on #247
The Yaml issue hasn't been solved, but probably it is a `yaml-cpp` version issue.
So, i guess i will close the issue for now.

[2020-07-08 16:20] #247 closed

[2020-07-14 15:14] iljastas opened #248 "Python interface"
Hi guys,
I like your lib and I used it before. Currently, on my project we want to use mostly python.
Is there any interface / python wrapper?
Best regards

[2020-07-15 08:10] maximilianwulf commented on #248
Hi @iljastas, thanks for the feedback. Unfortunately, there is no python wrapper available.

Maybe someone in the open-source community will make one at some point.

[2020-07-15 08:10] #248 closed

[2020-07-28 03:06] SteveMacenski commented on #219
Huge shout out @Marwan99! Just getting through these like its no one's business!

[2020-07-29 10:19] brunoeducsantos opened #250 "Index issue : Multiplying subgridmap with gridmap same size"
Hi,
This is more a question than an issue, but here it goes.
I want to multiply a grid_map to a **sub-gridmap** (of a larger map) with the same size.
Is this possible as follows?
[code]

For some reason, I have to `subgeom.getSize()-1` to match a separate grid the same size of a subgrid of a parent map. Is that my issue? Or is a bug?
Thanks,
Bruno

[2020-08-10 16:48] StefanFabian opened #252 "cmake_code_coverage is not a valid rosdep key"
https://github.com/ANYbotics/grid_map/blob/270a9cc7f4551fc4b4488a5d3a8c98f7c42b9269/grid_map_core/package.xml#L14

This recent change broke our private build server bloom builds since `cmake_code_coverage` is not a known rosdep key.
I'm also not sure what project that is referring to as I couldn't find any project named `cmake_code_coverage` on github or google.
There is a [`code_coverage`](https:

[2020-08-11 15:16] YoshuaNava commented on #252
Hi @StefanFabian,
Thank you for reporting this issue. It has been fixed on master.

Best,
Yoshua Nava

[2020-08-12 07:56] StefanFabian commented on #252
Thank you for the quick fix!

[2020-08-12 07:56] #252 closed

[2020-08-29 04:50] tuzhiming2016 opened #256 "Question # Tests Compiled Wrong"
I found that the three files have some problem.
    CubicConvolutionInterpolationTest.cpp \
    CubicInterpolationTest.cpp \
    EigenPluginsTest.cpp

first:
in the file #include "grid_map_core/TypeDefs.hpp"
enum class InterpolationMethods has no member called INTER_CUBIC and INTER_CUBIC_CONVOLUTION.
Are these your TODOs? So The two tests may have some wrongs if compiled?
TODOs{gm::InterpolationMe

[2020-09-03 03:59] lucbettaieb commented on #180
@maximilianwulf I've run into a similar problem recently.  It turns out that if you operate a SpiralIterator on a map that has moved, it will be unable to proceed after some point because of an indexing error.  I was trying to debug this an observed an index jump from normal looking (125, 126) -> (126, 127) ... etc to something like (42342, 0)

Not sure if that's helpful.  I can post more informat

[2020-09-03 09:46] maximilianwulf commented on #180
@lucbettaieb thanks for reporting. Did it lead to a segmentation fault in your case?

[2020-09-03 10:00] maximilianwulf commented on #256
Hey @tuzhiming2016, it looks like you found some issues in our tests. Could you submit a PR to solve those?

[2020-09-03 15:42] lucbettaieb commented on #180
@maximilianwulf It did not lead to a segfault, as de-referencing the iterator was successful, it just yielded a garbage value (something like (42342, 0)) for an index.  This got caught by a call to getPosition(index, position) which returned false as the index was > the size of the map.  As a result, my program was unable to progress, though it did not crash.

[2020-09-03 18:59] lucbettaieb opened #257 "When combining layers, `nan`s ruin everything"
In my application, I combine layers of information after moving the map.  Since the move() function sets unknown data to `nan`, adding the layers together ruins the resultant data.

Would it be acceptable to open a PR to change the API to add in a parameter for the move function to specify what you would like your unknown data to be set to?  I could have it default to `std::nanf` in the signature

[2020-09-04 16:25] maximilianwulf commented on #180
Hm, so there is no unit test covering this use case, see [here](https://github.com/ANYbotics/grid_map/blob/master/grid_map_core/test/SpiralIteratorTest.cpp).

I will note it and add some if at some point. Feel free to submit one by yourself :)

[2020-09-08 15:40] #250 closed

[2020-09-09 19:39] maximilianwulf commented on #257
Hey @lucbettaieb, interesting idea. What would you set it to?

But out of my head, I would not advise to go in this direction, as you would have to update the check for validity at several places.

[2020-09-09 19:40] maximilianwulf commented on #250
Hey @brunoeducsantos, were you successful?

You could also try to do a matrix multiplication with eigen, as the underlying data type is eigen.

[2020-09-10 19:47] tbostic32 commented on #257
Adding on to @lucbettaieb's idea, would it be possible to specify this independently for each layer in the map. For some of my applications, every time I move the map I have to go fill in each layer with a default value to avoid the nan's and to make the layer consistent with my chosen representation.

[2020-09-14 12:03] AlexReimann opened #260 "Is there a new release for melodic planned?"
Hello,

do you plan to make another release for melodic or are you now fully focused on ROS2?

(I was hoping to get a release with the fix https://github.com/ANYbotics/grid_map/pull/224)

[2020-09-14 20:03] lucbettaieb commented on #257
@maximilianwulf In a previous application, I was trying to set the new cells to all 0.0, as they were representing a log odds.  I already had to check for validity and nans at multiple places anyway.

@tbostic32 I believe that would be a bit trickier, but one could definitely do that with a function overload.

[2020-09-14 20:13] Marwan99 commented on #219
Hi @wxmerkt!
We are working on porting grid_map to ROS2 and one of the packages have we have a dependency on [octomap_mapping](https://github.com/OctoMap/octomap_mapping). I was just wondering if there is a timeline/plan for porting `octomap_mapping` over to ROS2.
Thanks!

[2020-09-14 20:28] SteveMacenski commented on #219
@Marwan99 I meant on the octomap mapping ROS2 port ticket :wink:

[2020-09-17 10:37] kwangwookyun opened #261 "grid map visualization & convert to image"
I want the following 2 things.

1. I want to convert the result of the visualization in rviz with color to an image (figure 1 in Rviz to image data in ROS)
2. I want to merge it with the camera image. So, I need to convert from visualization result in rviz to CV type.

![캡처](https://user-images.githubusercontent.com/27790689/93459015-0e261a00-f91c-11ea-9c00-64a5be42927b.PNG)
figure 1.  the result

[2020-09-25 15:26] maximilianwulf commented on #261
Hey @kwangwookyun ,

Yes, use the opencv function `applyColorMap`. You can use the technique described in this thread: https://stackoverflow.com/questions/13840013/opencv-how-to-visualize-a-depth-image

Can you elaborate on this idea?

[2020-09-25 15:34] maximilianwulf commented on #257
Coming back to that idea, it might actually make sense to have an overlaod `move` function that fills up empty space with a desired value. I would make sure that the original `move` function is untouched.

+1

[2020-09-25 15:42] maximilianwulf commented on #260
Hey @AlexReimann,

Sure, at the moment we continue supporting ROS1.

I think #224 was merged, have a look of the file: https://github.com/ANYbotics/grid_map/blob/master/grid_map_core/include/grid_map_core/iterators/LineIterator.hpp#L112

[2020-09-25 16:36] maximilianwulf commented on #257
@Magnusgaertner what do you think about this?

[2020-09-25 17:32] #260 closed

[2020-09-27 05:36] lucbettaieb commented on #257
@maximilianwulf

The original move function would just call the new one with `std::nanf` or something as the additional param.  I think I've seen a similar design pattern elsewhere in your codebase, so I'm for it.

[2020-10-01 13:15] kwangwookyun commented on #261
@maximilianwulf
Thanks for answering.

- merging grid map image with camera image means overlay .

The grid map data type is visualized through rviz as shown in figure 1.

I want to convert the result visualized in rviz into an image and "overlap" it with the camera image.
This will be shown in a form similar to AR(augmented reality).

As a result, i want to visualize it as follows. (Figure 3)

Fi

[2020-10-05 14:14] maximilianwulf commented on #165
It is added as a dependency now.

[2020-10-05 14:14] #165 closed

[2020-10-05 15:47] brunoeducsantos opened #264 "Convert SubGeometryMap to image"
Hi,
Is there a way to convert `SubGeometryMap` to an `OpenCV matrix` ? I am aware that we can do it for a `GridMap` , but not sure for `SubGeom`.
Regards,
Bruno

[2020-10-06 14:38] maximilianwulf commented on #261
Hey @kwangwookyun, I think RVIZ can generate this for you, right?

So if you choose
![Screenshot from 2020-10-06 16-36-13](https://user-images.githubusercontent.com/5656831/95216275-2b028e80-07f2-11eb-97cc-ecdf65e89d82.png)

you get this description

![Screenshot from 2020-10-06 16-36-18](https://user-images.githubusercontent.com/5656831/95216278-2c33bb80-07f2-11eb-824c-14c9f6b9dca7.png)

and the

[2020-10-14 07:14] thezest76 opened #265 "Compile error help ..."
Hello,

While I was trying to compile the package, I met the error below.
Could you tell me how to fix this problem ?

My system is Ubuntu 2020 + ROS noetic

Best,

[2020-10-14 07:35] maximilianwulf commented on #265
Hey @thezest76, the library is currently not upgraded to Noetic, this will happen soon. In the meantime, you can check out the branch from this MR to compile it. https://github.com/ANYbotics/grid_map/pull/231

[2020-10-14 08:02] thezest76 commented on #265
Hello,

Thanks for the quick response.
Could you please tell what would be the branch name ?
Are we talking about bf0be3a ?  How do I check-out this commit from my
local directory ?

Best,

On Wed, Oct 14, 2020 at 4:35 PM Maximilian Wulf <notifications@github.com>
wrote:

[2020-10-14 16:12] maximilianwulf commented on #265
It is from a forked repo: https://github.com/jspricke/grid_map/tree/noetic

You can read more about git on this blog post: https://www.tomasbeuzen.com/post/git-fork-branch-pull/

[2020-10-15 07:07] thezest76 commented on #265
Thanks for the kind explanation.
It is working now.

Best,

On Thu, Oct 15, 2020 at 1:13 AM Maximilian Wulf <notifications@github.com>
wrote:

[2020-10-15 08:00] maximilianwulf commented on #265
Glad to hear. Thank you for using grid map.

[2020-10-15 08:00] #265 closed

[2020-10-22 16:18] StefanFabian opened #267 "MessageFilterDisplay Crash"
After updating, I'm getting the following crash when starting RViz with a config that contains a GridMap display.

Stacktrace says the relevant line is:
https://github.com/ANYbotics/grid_map/blob/b4376234e7a9edadca1bb1302a4b27f2374637e3/grid_map_rviz_plugin/include/grid_map_rviz_plugin/modified/message_filter_display.h#L105

If I replace that call with a fixed number, e.g. 100, it crashes at the a

[2020-10-23 09:34] kwangwookyun commented on #261
thank you! I solved the issue.

[2020-10-23 09:34] #261 closed

[2020-10-23 09:37] maximilianwulf commented on #267
Hey @StefanFabian, we did not observe that issue yet.

Can you share a core dump?

[2020-10-26 17:04] #264 closed

[2020-10-27 05:51] nik-tier4 opened #268 "release package as binary ROS2"
When can we expect the binary package release for ROS2?

[2020-10-27 17:57] SteveMacenski commented on #268
We're still working on a port

[2020-10-28 10:08] maximilianwulf commented on #267
Can you share your ROS version?

[2020-10-28 10:30] StefanFabian commented on #267
Sorry for the late reply, I was occupied with a paper deadline.
I'm on Melodic.
I'll check if I can figure out what's happening or get a core dump in the next few days.

[2020-11-09 16:45] KMU-VI-kahn opened #269 "simple demo launch rviz error"
I build from the source code successly,but when I run :
$roslaunch grid_map_demos simple_demo.launch
It shows:

[rviz-3] process has died [pid 12804, exit code -11, cmd /opt/ros/melodic/lib/rviz/rviz -d /home/kahn/kahn_ros_ws/src/grid_map/grid_map_demos/rviz/grid_map_demo.rviz __name:=rviz __log:=/home/kahn/.ros/log/8c65ba5e-22a9-11eb-8d8c-1c1b0dc1bb12/rviz-3.log].

![스크린샷, 2020-11-10 01-36-36](ht

[2020-11-09 20:57] Austin-Hu commented on #267
Hi @StefanFabian & @maximilianwulf,

Please refer to my [comment](https://github.com/ANYbotics/elevation_mapping/issues/141#issuecomment-724272147) in `elevation_mapping` Issue #[141](https://github.com/ANYbotics/elevation_mapping/issues/141) which was closed.

Thanks!

[2020-11-11 11:30] maximilianwulf commented on #269
Hey @KMU-VI-kahn thank you for the issue. This is a duplicate of https://github.com/ANYbotics/grid_map/issues/267, please refer to it for a future solution.

[2020-11-11 11:30] #269 closed

[2020-11-11 11:31] maximilianwulf commented on #267
Can someone check if rviz changed this property recently?

[2020-11-20 11:04] brunoeducsantos opened #271 "Grid Map projection to a color image"
Hi,

I was trying to project a grid map keeping the colors to a image like this:

`
cv::Mat map;
	GridMapCvConverter::toImage<unsigned char,3>(gridMap, layer, CV_16UC3,map);
`

Although, I am getting a mix of gray and yellow colors.
![test](https://user-images.githubusercontent.com/3111976/99793977-639bc480-2b21-11eb-8ba7-e7c0251b487d.png)
Could you help me with this issue?

Thanks,
Bruno

[2020-11-23 05:05] BruceChanJianLe opened #272 "getIndex() Unable to Obtain Index for Maximum Negative Length of Map"
My grid_map is geometry size is as below:

[code]

When my position is -0.5 (return from getClosestPositionInMap()), which is still valid in the map, I get the error of
[code]
However, if my position is `0.5` (return from getClosestPositionInMap()), I do not get the error, and I am able to obtain the index.

I specifically mentioned getClosestPositionInMap() function as I am not sure whether shoul

[2020-11-30 09:44] Charlie-lusie opened #273 "rviz crashed when launching the simple demo"
it said: process has died [pid 14154 exit code -11]
Im using ROS melodic & ubuntu 18.04

[2020-11-30 10:37] maximilianwulf commented on #273
Hey @Charlie-lusie can you check if your issues relates to this? https://github.com/ANYbotics/elevation_mapping/issues/141

[2020-11-30 13:57] evenlund opened #274 "Gridmap intitialization with interpolation"
It appears that Gridmap is using linear interpolation between cells as default. The demo-example shows how to transfer one map to another using interpolators, but is it possible to set a default interpolator when initializing the gridmap?

The example seems quite complicated using a yaml. Would it be possible to do interpolation directly in code?

[2020-11-30 22:06] maximilianwulf commented on #271
Hey @brunoeducsantos, the function does not directly generate a colorful image. Your output is expected.

In case you want a color map, you have to apply a color map to the image.

This snippet should roughly do what you want:

[code]

Inspired by this stackoverflow thread: https://stackoverflow.com/questions/13840013/opencv-how-to-visualize-a-depth-image

Hope that answers your question.

[2020-11-30 22:07] maximilianwulf commented on #264
Did you find the solution?

[2020-11-30 22:10] maximilianwulf commented on #272
Hey @BruceChanJianLe, thank you for submitting the bug. Could you submit a short unit test  into this file: https://github.com/ANYbotics/grid_map/blob/master/grid_map_core/test/GridMapTest.cpp. I guess you can copy the code from above.

[2020-11-30 22:15] maximilianwulf commented on #274
Hey @evenlund, check out this function: https://github.com/ANYbotics/grid_map/blob/d9ee02deb5af682339610ad2313c0bd9c052df75/grid_map_demos/src/InterpolationDemo.cpp#L268

You can use the example to craft your solution.

Using yaml should not be complicated, it just sets one variable, check here: https://github.com/ANYbotics/grid_map/blob/d9ee02deb5af682339610ad2313c0bd9c052df75/grid_map_demos/src/

[2020-12-01 08:11] evenlund commented on #274
It is sort of answering my question. I assume there is no constructor or init function that will set the interpolation used directly when creating the gridmap object, so you would need the original map and a duplicated map that has the interpolation you want.

What confuses me the most with the example is that there is no main function. I understand that this is not a forum, but could you tell me

[2020-12-01 11:36] maximilianwulf commented on #274
Yes, I think so.

[Here](https://github.com/ANYbotics/grid_map/blob/d9ee02deb5af682339610ad2313c0bd9c052df75/grid_map_demos/src/interpolation_demo_node.cpp) is the main function of the demo.

The yaml file is read in the launch file at [this line](https://github.com/ANYbotics/grid_map/blob/d9ee02deb5af682339610ad2313c0bd9c052df75/grid_map_demos/launch/interpolation_demo.launch#L8).  From then on a

[2020-12-01 11:48] brunoeducsantos commented on #264
I didn't find a solution. Just a hack by converting a sub-grid to a grid map.

[2020-12-01 11:49] brunoeducsantos commented on #271
Thanks for your hint. I will try it out and let you know.

[2020-12-01 12:23] Charlie-lusie commented on #273
Thank you. But my problem is larger. Every time when I try to click some GridCell topic (published by other ROS package) in rviz, including this package, rviz will crash like upper  topic said. And my program is still running. Do you know why?

[2020-12-02 03:18] BruceChanJianLe commented on #272
Hi @maximilianwulf, thanks for getting back. I have submitted a short unit test as requested in https://github.com/ANYbotics/grid_map/pull/275. Please have a look at the failing test `NegativeClosestPositionInMap`. Thank you:D

[2020-12-02 09:35] maximilianwulf commented on #272
Thank you, we will have a look at it.

[2020-12-02 09:56] aled96 opened #276 "Filter Demo - MockFilter errors"
Hi,

I tried to launch `roslaunch grid_map_demos filters_demo.launch` but I obtain the following error (and in RViz I cannot see anything:

MockFilter did not find parameter 'print_name'.
Could not configure the filter chain!

I tried to set print_name as a parameter, setting it so a string, but it does not work.

Thank you for the help

[2020-12-02 11:59] BruceChanJianLe commented on #272
You're welcome! Thank you for taking your time to look into this issue.

[2020-12-03 14:47] brunoeducsantos commented on #271
@maximilianwulf  It worked like a charm. Thanks a lot!

[2020-12-03 14:47] #271 closed

[2020-12-04 10:53] maximilianwulf commented on #271
Glad to hear.

[2020-12-08 15:14] maximilianwulf commented on #272
Hey @BruceChanJianLe, indeed the function `getClosestPositionInMap` gives values at the border of the map, which can in some cases lead to indices outside of the map. I made a fix that should make the function save. It will be merged in the coming days. Thank you for reporting the issue.

[2020-12-09 02:54] BruceChanJianLe commented on #272
Hi @maximilianwulf, thank you for looking into this issue, appreciate your time and contribution to the community. Please remember to close this issue when the fix is merged, before that, I shall leave this issue as open. Thanks again and take care!

[2020-12-09 18:23] maximilianwulf commented on #276
Thank you for reporting, we will fix it.

[2020-12-09 21:38] wxmerkt commented on #230
Friendly ping - would it be possible to release this package into the ROS buildfarm for Noetic? Thanks!

[2020-12-09 21:43] maximilianwulf commented on #230
Yes, we are working on it. I guess it will be released soon. Thank you for your patience.

[2020-12-10 15:04] evenlund commented on #274
I think I got the interpolation working now. Unfortunately it does not change the representation I get of the data.

To explain a bit further I would like to place sensor data onto a flat gridded map similar to a checkered chess board, where each square has uniform color and no interpolation happens between the squares or internally in the square. It is perhaps more comparable to a rasterized imag

[2020-12-10 18:05] maximilianwulf commented on #276
Should be fixed.

[2020-12-10 18:05] #276 closed

[2020-12-11 09:14] aled96 commented on #276
Thank you !

[2020-12-13 20:34] dlee640 opened #278 "Grid map demo failing for interpolation_demo.launch"
**I was able to run all the demos leading upto the interpolation_demo.launch. However, it is failing to run the demo for interpolation with following error and I don't understand how to fix the issue.**

I am getting exception:

[code]
when I try to run
`roslaunch grid_map_demos interpolation_demo.launch`

I have used the following setup procedure. I couldn't use catkin_make because error occured

[2020-12-16 11:00] maximilianwulf commented on #272
Hey @BruceChanJianLe, a fix is on the way. Let me know if you have further issues.

[2020-12-16 11:00] #272 closed

[2020-12-16 19:51] jcnorby commented on #278
Not a dev, but it looks like the issue is that you haven't sourced your catkin workspace. It seems that installing grid_map via apt will put a number of your demos into your install space (`/opt/ros/melodic/share/grid_map_demos`), which ROS knows where to find because you sourced it in step 2. It looks like interpolation_demo.launch is NOT included in those, which is why some of the others work an

[2020-12-16 19:55] jcnorby commented on #276
@maximilianwulf I'm hving a similar experience to @aled96 - the PR for this issue cleared the error, but something is still off in the demos that causes the filters to not show up. It looks as if the structure for the filter chain parameters changed at some point but the .yaml for the filter demos has not been updated. Any update on this would be much appreciated!

[2020-12-16 20:39] jcnorby commented on #276
I think this may just be a compiling issue. After some digging, I found that the filters demo seemed to just take forever in the MeanInRadiusFilter, which was surprising since that filter hasn't been modified in a few years. This prompted me to compile in Release mode (`catkin_make -DCMAKE_BUILD_TYPE=Release`), which worked like a charm. Everything is as expected now.

[2020-12-24 06:09] liuzm-slam commented on #265
how do you deal with this problem? i have the same problem, i need your help

[2020-12-25 05:45] liuzm-slam opened #279 "error about grid map rviz plugin"
Errors     << grid_map_rviz_plugin:make /home/cnimi/segmap_ws/logs/grid_map_rviz_plugin/build.make.001.log
In file included from /home/cnimi/segmap_ws/build/grid_map_rviz_plugin/include/grid_map_rviz_plugin/modified/moc_message_filter_display.cpp:9:0:
/home/cnimi/segmap_ws/build/grid_map_rviz_plugin/include/grid_map_rviz_plugin/modified/../../../../../src/grid_map/grid_map_rviz_plugin/include/grid

[2020-12-28 02:05] BruceChanJianLe commented on #272
Hi @maximilianwulf, thanks for looking into this is issue. I will be looking forward to the fix! Thank you:)

[2020-12-28 15:45] jcnorby opened #280 "Grid Map to Gazebo"
As far as I can tell there isn't a straightforward way to export a grid map for use in Gazebo. Is this correct, and if so is there a recommended workaround such as a way to load a grid map from a stl file? My best guess is to convert an stl to an image file then load from there, but that would involve setting some extra parameters to make sure the heights were correctly preserved.

[2020-12-29 11:58] maximilianwulf commented on #272
You can check out this commit https://github.com/ANYbotics/grid_map/commit/f1344bd946967d2806dc9d0e41b119e580398724

[2020-12-30 08:52] houhaol commented on #207
Hi, could you confirm using `move_base` node to generate cost map? I'm very new to this, sry. Basically, I tried to create a map (costmap) for navigation.

I have a occupancy grid like this figure which is created from point cloud
![image](https://user-images.githubusercontent.com/41767952/103340016-f97e2400-4abd-11eb-9f20-159d431cac44.png)
Then in my understanding, you saved this occupancy_grid a

[2020-12-30 10:04] jediofgever opened #281 "It seems that we cannot set orientation of map ?,"
is a there a way to set orientation of map without messing with the data represented in the map?

I am aware that I can just use a `tf_static_transfrom` publisher and create a dedicated frame with desired orientation but I had like to align my `grid_map` with another unified map frame, so its better to set pose of grid_map in this unified map frame.

[2021-01-04 02:13] BruceChanJianLe commented on #272
Wonderful! I will test on it when it is successfully merged into master branch. Thank you @maximilianwulf !

[2021-01-04 10:21] maximilianwulf commented on #281
Hi @jediofgever, there is currently no option to set the orientation of the grid map, only the position.

You will have to do it as you mentioned.

What you can do, is actively transform a grid map from one frame to another given a transformation. Check out this [function](https://github.com/ANYbotics/grid_map/blob/master/grid_map_cv/include/grid_map_cv/GridMapCvProcessing.hpp#L45).

[2021-01-04 10:21] #281 closed

[2021-01-04 10:24] maximilianwulf commented on #280
Hi @jcnorby, yes, you are right. This functionality is not supported at the moment. Feel free to submit a PR if you found a good solution.

One pointer I could give is the 3D visualization for RVIZ. In there we iterate through the grid map and create an ogre object. Maybe there are converters between ogre and stl. Check out this [function](https://github.com/ANYbotics/grid_map/blob/master/grid_map

[2021-01-06 16:17] maximilianwulf commented on #265
Hi @liuzm-slam can you give a bit more context, which version of OS are you using and which ROS version?

Can you also add your specific error?

[2021-01-06 17:42] maximilianwulf commented on #230
Short update on it, we should soon have the Noetic release. Thank you for your patience.

[2021-01-06 17:47] maximilianwulf commented on #207
Hey, I guess best would be if @NeilNie explains how he managed to do it.

[2021-01-06 17:53] maximilianwulf commented on #279
Hey @liuzm-slam, it seems that you might have a wrong tf version locally installed. Which tf version are you using?

[2021-01-06 18:06] NeilNie commented on #207
Hey @houhaol, for my application, I needed to generate costmaps for the navigation stack, using stereo cameras and lidars. I used the `move_base` node that comes with ROS. (http://wiki.ros.org/navigation/Tutorials/RobotSetup). On a high level, `move_base` is the heart of the generic ROS navigation stack. It uses planners, costmaps, and other components. As a developer, using `move_base` properly w

[2021-01-06 21:41] maximilianwulf commented on #207
@NeilNie thank you, that is actually very interesting.

[2021-01-08 07:50] houhaol commented on #207
@NeilNie Thanks for your reply and resources. Then it make sense to me.

[2021-01-13 01:46] Marwan99 commented on #219
Is this issue considered completed now?

[2021-01-13 01:49] SteveMacenski commented on #219
Is there anything we missed? I thought we skipped something (?)

If not, and we're ready to release, then yeah after bloom is run. Is CI passing and everything? Can we do an attempted release? Any dependencies missing?

[2021-01-13 21:58] Marwan99 commented on #219
- One of the demo nodes in grid_map_demos is missing `octomap_server` ([commented](https://github.com/ANYbotics/grid_map/blob/ros2/grid_map_demos/package.xml) out atm) as it is not ported yet.
- `pcl_ros` currently being built from source so I guess that's a non released dependency.
- CI is passing.

[2021-01-14 11:30] maximilianwulf commented on #219
In my view this issue can be closed.

@Marwan99 could you open a new one with the remaining points?

[2021-01-14 14:39] duncanrhamill opened #282 "Using grid_map_core without ROS?"
Hi, I'm interested in using grid_map but without using ROS. I notice that grid_map_core is only dependent on Eigen, which is great, but it would be nice to have a true standalone version which can be built and installed as a shared lib. Are there any plans to support this?

If not would you accept PRs to enable this?

[2021-01-14 14:45] maximilianwulf commented on #282
Hi @duncanrhamill, thank you for the request. We don't plan to have a non-catkinized version. That is why we would not accept such an MR.

But you can always ask for help here if you run into issues when porting the library.

[2021-01-14 14:45] #282 closed

[2021-01-14 15:28] duncanrhamill commented on #282
Ok thanks, I understand. Do you have any objections to a public fork of at least grid_map_core and grid_map_pcl?

[2021-01-14 16:07] maximilianwulf commented on #282
No, not that I know of. I think that is fine, thank you for asking :)

But I guess we will not provide directly support for the fork.

[2021-01-14 16:15] duncanrhamill commented on #282
Yeah that's fair enough, thanks!

[2021-01-14 17:55] SteveMacenski commented on #219
Agreed, closing!

[2021-01-14 17:55] #219 closed

[2021-01-14 17:55] SteveMacenski commented on #219
Great job @Marwan99 for single handedly getting this done. That was a big effort and it will be felt for a long time to come.

[2021-01-14 22:07] Marwan99 opened #283 "ROS2 port remaining action items"
- [x] octomap_to_gridmap  demo node and launch files have been ported, however it has not been tested as `octomap_server`  has not been ported yet.
- [x] Finalise the `pcl_ros` related section in `grid_map_sdf` #243.
- [x] ~Once `pcl_ros` binaries are available, grid_map should be ready to release.~ no longer a dependency

[2021-01-15 00:34] SteveMacenski commented on #283
Renaming just to be a little more descriptive for passersby

[2021-01-15 09:25] maximilianwulf commented on #283
Thank you for the issue.

[2021-01-15 12:20] maximilianwulf commented on #276
@jcnorby Thank you for the update. Grid map indeed requires to be build in Release.

[2021-01-15 12:21] maximilianwulf commented on #278
@dlee640 can you verify that everything is working for you?

@jcnorby thank you for the answer :)

[2021-01-16 03:14] Marwan99 commented on #243
`pcl_ros` is now available in case you decide to continue using it.

I think this also needs to be added to the list in #283.

[2021-01-19 19:00] SteveMacenski commented on #243
pcl ros for ROS 2 is still not available - we haven't ported it yet

[2021-01-21 00:54] julianraheema commented on #230
Please we need noetic release.

[2021-01-21 09:00] maximilianwulf commented on #230
Hey all, all release jobs of grid map have passed. I am currently checking the devel jobs. But I guess the debians are ready to go.
![Screenshot from 2021-01-21 09-58-43](https://user-images.githubusercontent.com/5656831/105327654-71c49a80-5bcf-11eb-8489-2aa26fd997a0.png)

Let me know if you have issues and thank you for your patience.

[2021-01-21 09:00] #230 closed

[2021-01-27 18:05] brunoeducsantos opened #284 "getSubMap borders limitation"
Hi,
I am using `gitSubMap` to obtain a region of a larger map. As mentioning in your comments the length won't be exactly the same.
Is there any hack to allow having the same length?

Thanks,
Bruno

[2021-01-28 06:52] dlee640 commented on #278
Sorry for the late reply. This solution worked!

[2021-01-28 06:52] #278 closed

[2021-01-28 18:01] brunoeducsantos commented on #284
Interpolation solve the issue.

[2021-01-28 18:01] #284 closed

[2021-02-01 02:46] zlg9folira commented on #279
Same issue here, I get the following error message on building some of the packages:
[code]

I cloned the repository by `https://github.com/ANYbotics/grid_map.git` which sounds a fit for ROS melodic. Melodic has support for `getTF2BufferPtr` ([here](http://docs.ros.org/en/melodic/api/rviz/html/c++/classrviz_1_1DisplayContext.html)) , but Kinetic doesn't ([here](http://docs.ros.org/en/kinetic/api/r

[2021-02-01 02:55] liuzm-slam commented on #279
I have solve this problem, i download a new package, the package is low version，i download 1.6? for grid map(ros kinetic, ubuntu16.04). you can give me your email address, i will give you for my package of grid_map.

[2021-02-01 03:22] zlg9folira commented on #279
@liuzm-slam Thanks, the 1.6 worked though it is old and my question now is what will I miss in features if I rely on version 1.6 instead of 1.6.4 which has recently merged ? Does 1.6 have all the features as the new release ?

[2021-02-01 05:03] liuzm-slam commented on #279
I use grid map in elevation mapping, and i dont know other features. sorry.

[2021-02-01 13:27] MaxIGL opened #285 "[grid_map_pcl]Straight Lines Effect"
Hello,

Firstly, thank you for this package ! I am working on converting a 3D DEM map obtained with Octomap_server into a 2D Occupancy grid. So my input data is a .pcd file. I followed the Use tutorial of the grid_map_pcl to convert my .pcd into the grid map and visualize it on Rviz. It has a really nice rendering i like the texture and the colors however there is something really strange, there a

[2021-02-03 17:02] MUXIANGRU opened #286 "[image_to_gridmap_demo]"
Hi,thank you for your great work.I would like to use the grid_map_cv to convert a image to gridmap.But I find that the image projection is along Z axis.When I have a image from camera and convert it to gridmap,I want the image to be warpped.In other words, the picture should have perspective transformation.
I would like to know,how can I projection the image to grid_map along other direction and m

[2021-02-08 09:42] maximilianwulf commented on #279
Hey all, it seems this is a kinetic related issue. As @zlg9folira mentions one can use an older version of grid map. It should contain the core features, except some recent fixes. But in my view the software is stable.

[2021-02-08 09:54] maximilianwulf commented on #286
Hey @MUXIANGRU, perspective transformation is currently not supported in the library. In case you get the pose from a robot platform you should be able to do so easily with opencv tools. I guess you already managed to do it based on your image.

Feel free to submit PRs for new features.

[2021-02-09 15:51] nPellejero opened #287 "Problem with grid_map installation in melodic"
I am compiling my ros package which depends on grid_map in a NVidia Jetson TX2 with ubuntu 18.04. grid_map is installed from ubuntu repositories along the others ROS dependencies. OpenCV is installed in /usr/local , so includes are in /usr/local/include/opencv and not in /usr/include/opencv

When compiling, catking throws the following error:

  Project 'grid_map_cv' specifies '/usr/include/opencv

[2021-02-09 21:17] maximilianwulf commented on #287
Hey @nPellejero, you can add the path to the `find_packag` macro here: https://github.com/ANYbotics/grid_map/blob/master/grid_map_cv/CMakeLists.txt#L15.

Check out this stackoverflow question: https://stackoverflow.com/questions/49816206/cmake-find-package-specify-path

[2021-02-12 16:58] hardesh commented on #208
Hi @brunoeducsantos!
How did you solve this error?

[2021-02-13 14:26] brunoeducsantos commented on #208
Hi @hardesh ,
With the current version this issue is solved I  guess.

[2021-02-13 15:28] hardesh commented on #208
Hi @brunoeducsantos,
Unfortunately I encountered this issue. I'm trying to find a work around

[2021-02-15 07:05] divgill91 commented on #268
Any progress on this? Is it an issue of not enough resources to work on a port or is it a difficult task?

[2021-02-16 19:15] MaxIGL commented on #285
Okay I figured out what was happening :)
The Voxel grid filter of 0.03m leaf size + the wanted same 0.03m resolution for the map implied that sometimes there are entire lines composed of voxel boxes for which no point falls into, thus resulting in void ! (on the other hands, the line that touches a void line is composed of voxel boxes that all possess at least two points !
Cheers !

[2021-02-16 19:16] #285 closed

[2021-02-17 12:26] nPellejero commented on #287
Ok, then I assume that it is not possible to do it without compiling from source.

Thanks,

[2021-02-17 12:26] #287 closed

[2021-03-02 04:58] pvazteixeira opened #288 "Missing triangles (directional behavior in rviz)"
I'm building an elevation map using data from an altimeter and I have noticed some interesting behavior in `rviz` - it appears that the triangles in the resulting grid map are dependent on the orientation of a segment. Here is an example, showing both the grid map and the corresponding grid cells (to highlight coverage):

![missing_triangles_3](https://user-images.githubusercontent.com/3402399/109

[2021-03-07 18:56] maximilianwulf commented on #208
Hey @hardesh, can you submit your issue as a unit test?

[2021-03-07 19:04] maximilianwulf commented on #288
Hey @pvazteixeira I think you see the effect of this condition: https://github.com/ANYbotics/grid_map/blob/539f9db782e73cd48a112a6a72f3dbc11868d80f/grid_map_rviz_plugin/src/GridMapVisual.cpp#L180

Do you want different behavior?

[2021-03-09 03:54] hardesh commented on #208
@maximilianwulf Sure! I'll try to submit a PR on this weekend. For now, I've found a workaround

[2021-03-16 21:16] pvazteixeira commented on #288
Hey @maximilianwulf  - thanks for the follow-up and sorry for the delay!

Yes, I think that segment of the code is what is behind this. Maybe I am missing something, but in the example above there is sufficient data to draw two triangles instead of just one (in the top left part of the image), no? If so, then `vertexIndices` is one element short once it gets to 180, so the issue would be in 166:17

[2021-03-18 08:13] pgorczak opened #289 "grid_map_rviz_plugin: Include files installed to wrong destination"
When trying to include the modified MessageFilterDisplay class from my own plugin, I noticed that the rviz plugin's headers are installed to *include/grid_map_rviz_plugin/grid_map_rviz_plugin* instead of *include/grid_map_rviz_plugin*. This breaks the include statement in [*frame_manager.h*](https://github.com/ANYbotics/grid_map/blob/master/grid_map_rviz_plugin/include/grid_map_rviz_plugin/modifie

[2021-03-23 16:53] hardesh commented on #208
Hi @maximilianwulf,
I had tried something similar as done in [this](https://github.com/ANYbotics/grid_map/blob/539f9db782e73cd48a112a6a72f3dbc11868d80f/grid_map_cv/test/GridMapCvTest.cpp#L118) test case. Not sure if it's passing currently.

[2021-03-24 16:47] lgulich opened #290 "Get top left and bottom right corner from grid map"
Hi
First of all thank you for open-sourcing this great tool!

I am trying to extract the top left and bottom right corner of a grid map. I tried doing this with
[code]
but unfortunately this does not work when the map is `moved`. How would one one extract these points such that it is also correct for moved maps?

Many thanks in advance!

[2021-03-25 07:49] KenaHemnani commented on #158
Hii , I want generate 2D Obstacle grid map via. RGBD image sequentially taken by robot via. first converting each RGBD image into point clouds then projecting point clouds to get local map and then to get entire map of the environment?? Is there such Package available in ROS or PCL Libraries??

[2021-03-26 07:37] lgulich commented on #290
Found the solution. As reference for a future reader:
[code]

[2021-03-26 07:37] #290 closed

[2021-03-30 17:55] Zxr1230 opened #291 "CMake Error at /opt/ros/melodic/share/grid_map_cv/cmake/grid_map_cvConfig.cmake:113 (message): Project 'grid_map_cv' specifies '/usr/include/opencv ' as an include dir,"
Trying to build some ROS packages, but keep saying this error. Opencv is installed and it does have the opencv file in the path indicated. I have been trying to solve this issue for so long. Thank you for help!

Errors     << ticobot_occupancy_grid:cmake /home/nvidia/catkin_ws/logs/ticobot_occupancy_grid/build.cmake.010.log
CMake Error at /opt/ros/melodic/share/grid_map_cv/cmake/grid_map_cvConfig.

[2021-03-31 17:00] #226 closed

[2021-04-06 19:58] Zxr1230 commented on #291
In /opt/ros/melodic/share/grid_map_cv/cmake/grid_map_cvConfig.cmake
Change
if(NOT "include;/usr/include;/usr/include/opencv " STREQUAL " ")
  set(grid_map_cv_INCLUDE_DIRS "")
  set(_include_dirs "include;/usr/include;/usr/include/opencv")
To
if(NOT "include;/usr/include;/usr/include/opencv " STREQUAL " ")
  set(grid_map_cv_INCLUDE_DIRS " include;/usr/include;/usr/include/opencv ")
  set(_include_d

[2021-04-06 19:58] #291 closed

[2021-04-07 02:17] mark9714 opened #292 "problem while installing grid_map_cv package: fatal error: filters/filter_base.hpp: can't find that file or directory"
<img width="1377" alt="截屏2021-04-07 上午9 33 42" src="https://user-images.githubusercontent.com/71640010/113797994-dd58e580-9784-11eb-9291-ed5803fff2b7.png">

When I try to install grid_map,I've got some problem like this.Did any body have something like this?Actually,I don't know what the filters library is.

[2021-04-08 09:20] bach05 commented on #292
Hi,
I had the some problem. I solved by substitute in every file `<filters/*.hpp>` with `<filters/*.h>`.

It works fine up to now.

[2021-04-08 09:35] bach05 opened #294 "Grid Maps in Gazebo Plugins"
Hi,
I'm working with the [AutonomousActorPlugin](https://github.com/BruceChanJianLe/gazebo-plugin-autonomous-actor) and to improve obstacle avoidance I would like to use Grid Map library.
When I try to add any reference to Grip Map (in this case I just add a variable of type `grid_map::GridMap` in the header file of the plugin), I get a runtime error from gzserver:

`gzserver: symbol lookup error:

[2021-04-08 09:49] mark9714 commented on #292
@bach05 thank you so much!!I have solved the problem with your help.

[2021-04-08 09:49] #292 closed

[2021-04-11 17:31] Psyduck123 opened #295 "catkin build error"
Thanks for your great work! I faced an error when I do the  $catkin build grid_map in my ROS work space :

home/elevation_ws/src/grid_map/grid_map_cv/InpainFilter.hpp:11:10: fatal error: filters/filter_base.hpp : No such file or directory
#include <filters/filter_base.hpp>
                 ^~~~~~~~~~~~~~
compilation terminated

Is there any way could solve this issue? Thanks a lot!

[2021-04-12 07:11] bach05 commented on #295
Hi, see here #292 .

[2021-04-12 07:28] Psyduck123 commented on #295
@bach05  Thanks a lot! that's works. Lots of files need to be modified. XD

[2021-04-12 07:28] #295 closed

[2021-04-14 08:48] CxyCH commented on #256
Hi  @tuzhiming2016 :
    I have found this problem too. Do you know how to fix it now?

[2021-04-19 10:14] fantasyplus commented on #292
still not help..

[2021-05-06 23:20] msy22 commented on #283
How usable is the Foxy/gridmap port in it's current state? It appears that the `grid_map_sdf` and `grid_map_pcl` modules both depend on `pcl_ros`. But if neither of those are required, are all the other modules fully functional?

[2021-05-06 23:54] SteveMacenski commented on #283
Yes, that is my understanding as well! You can definitely use it in Foxy and if you run into any issues, let us know!

[2021-05-13 11:26] mitsudome-r commented on #243
@SteveMacenski
Hi, I'm using this package for my project, and it also helps us if this is released as binary since it will reduce our build time. I was looking to see if there is anything I can help, and I've noticed that there could be alternative solution instead of waiting pcl_ros to be released. Could you take a look at https://github.com/ANYbotics/grid_map/pull/299, and see if the solution wo

[2021-05-13 18:42] SteveMacenski commented on #243
That works for me! Closing ticket since PR resolves

[2021-05-13 18:42] #243 closed

[2021-05-13 18:42] SteveMacenski commented on #283
There's a PR resolving that last item, so I think that means we can release binaries @Marwan99 @maximilianwulf ?

[2021-05-16 15:37] MR-Uranyum opened #300 "catkin_make command error"
I installed everything as installation say, but I tried building it from source with catkin_make run_tests_grid_map_core run_tests_grid_map_ros command, I have got file not found error. so what am I doing wrong, I left a picture to see my error ,
thank you for your support,
with kind regards.

![2021-05-16 18-36-35 ekran görüntüsü](https://user-images.githubusercontent.com/54035636/118403149-b50eb

[2021-05-16 22:44] Marwan99 commented on #283
Can binaries be released before the first item on the list is resolved?

FYI, there has been some movement on the octomap_mapping [port](https://github.com/OctoMap/octomap_mapping/issues/76) lately.

[2021-05-17 20:47] #178 closed

[2021-05-17 20:48] SteveMacenski commented on #283
What's the scope of the octomap stuff? Do we actually need octomap headers for something or just launching in a launch file? Could that one be temporarily disabled until ported?

[2021-05-18 08:07] rosyapril commented on #300
same error here

[2021-05-18 09:25] wxmerkt commented on #300
The header is named `filter_base.hpp` on Noetic and `filter_base.h` on Melodic. If you are on an older distribution, you may have to adjust it correspondingly

[2021-05-18 10:49] rosyapril commented on #300
it works! Thanks!

[2021-05-20 18:42] SteveMacenski commented on #268
Releases will be cut once https://github.com/ANYbotics/grid_map/issues/283 is done. Closing redundant intent

[2021-05-20 18:42] #268 closed

[2021-05-20 20:12] SteveMacenski commented on #283
To release to galactic (or any ROS2) we need the filters to be exporting its dependencies https://github.com/ros/filters/pull/50

[2021-05-22 15:20] MR-Uranyum commented on #300
thank you so much, it solved my problem

[2021-05-25 08:56] Afiq11 commented on #279
hi guys,, can i know where to get the older version?? for ros kinetic

[2021-05-27 00:09] Marwan99 commented on #283
I think this [launch file](https://github.com/ANYbotics/grid_map/blob/c5d985a5f7a9ce3a5a944a74164270f01ae24996/grid_map_demos/launch/octomap_to_gridmap_demo_launch.py#L35-L43) is the only thing that needs octomap_mapping, its already disabled there.

[2021-05-27 18:17] SteveMacenski commented on #283
OK, I think  filters is the only blocker then for attempting a release

[2021-05-28 12:38] maity-kgz opened #302 "How to get "grid_map_costmap_2d" in ROS Kinetic?"
Hi, I am using grid_map in ROS Kinetic. I have installed it from Deb repository. But the grid_map_costmap_2d package doesn't come installed with the grid_map.
Building grid_map from the source in the Kinetic env throws a lot of compiling errors. Due to the compatibility issues with TF and etc. Also, there is no Kinetic branch in the repo.
Is there any chance/way to get grid_map_costmap_2d in the R

[2021-05-28 15:16] maity-kgz commented on #302
I was able to use "grid_map_costmap_2d" under the Kinetic env after the following steps.
1. Install core grid_map packages from the Deb repo.
2. Copy to the local catkin_ws only the "grid_map_costmap_2d" folder.
3. Build the "grid_map_costmap_2d"  with the "catkin_make" cmd. Builds without errors.
4. source local catkin_ws devel space
5. include "grid_map_costmap_2d" in the find_package (CMakeList

[2021-05-29 16:33] weslymalau opened #303 "compilation terminated. grid_map/grid_map_cv/CMakeFiles/grid_map_cv.dir/build.make:86: recipe for target 'grid_map/grid_map_cv/CMakeFiles/grid_map_cv.dir/src/InpaintFilter.cpp.o' failed"
11:10: fatal error: filters/filter_base.hpp: No such file or directory
 #include <filters/filter_base.hpp>
          ^~~~~~~~~~~~~~~~~~~~~~~~~
compilation terminated.
grid_map/grid_map_cv/CMakeFiles/grid_map_cv.dir/build.make:86: recipe for target 'grid_map/grid_map_cv/CMakeFiles/grid_map_cv.dir/src/InpaintFilter.cpp.o' failed
make[2]: *** [grid_map/grid_map_cv/CMakeFiles/grid_map_cv.dir/src/Inpai

[2021-05-31 14:33] maximilianwulf commented on #288
Sorry for the delay from my side. That could very well be, do you have a good example in mind to test this, i.e. share the data?

[2021-05-31 14:44] maximilianwulf commented on #289
Thank you for the issue. The CMakeFiles install command follows our development guidelines. Let me follow up on this.

[2021-05-31 14:46] maximilianwulf commented on #208
Did you manage to submit the test?

[2021-05-31 14:47] maximilianwulf commented on #158
Yes, https://github.com/ANYbotics/elevation_mapping should do exactly what you want.

[2021-05-31 14:48] maximilianwulf commented on #290
Thank you for the submission, you could consider also adding it to the README.

[2021-05-31 14:56] maximilianwulf commented on #294
Hey, I think the CMake file of the AutonomousActorPlugin does not add grid_map as a dependency.

[2021-05-31 14:57] maximilianwulf commented on #292
Just to be sure, you experienced these issues with melodic, right?

[2021-05-31 16:22] maximilianwulf commented on #289
Doesn't our cmake follow the official recommendation? http://wiki.ros.org/catkin/CMakeLists.txt see `Installing header files`.

[2021-05-31 16:30] maximilianwulf commented on #289
Yes, that is very much correct. I will fix it. Thank you for the issue submission.

[2021-05-31 16:47] maximilianwulf commented on #300
The fix will be merged into the `melodic-devel` branch, see here https://github.com/ANYbotics/grid_map/pull/298

[2021-05-31 16:48] maximilianwulf commented on #279
Hi @Afiq11 you can check out the release 1.6.

[2021-05-31 16:53] maximilianwulf commented on #303
Please check out this MR https://github.com/ANYbotics/grid_map/pull/298

[2021-05-31 16:54] maximilianwulf commented on #302
Thank you for the instructions. We currently don't maintain kinetic.

[2021-05-31 16:54] #302 closed

[2021-05-31 17:07] maximilianwulf commented on #283
Hey, releasing binaries definitely sounds great. How does it work in the ROS2 world?

[2021-06-01 01:19] SteveMacenski commented on #283
It is the same method as in ROS1, PR against rosdistro against the distribution of choice and builds in the build farm

[2021-06-01 03:16] hardesh commented on #208
I had tried out some functons which are already there in [this](https://github.com/ANYbotics/grid_map/blob/539f9db782e73cd48a112a6a72f3dbc11868d80f/grid_map_cv/test/GridMapCvTest.cpp#L118) test. It's already there. So, I didn't submit the test

[2021-06-18 12:17] wzy012 opened #307 "grid_map_visualization modify resolution"

[2021-06-18 12:35] #307 closed

[2021-06-23 04:50] MattSYoung commented on #283
Correct me if I'm wrong, but in it's current state the `grid_map_pcl` module fails to compile because of its dependency on pcl_ros, which has yet to be ported to ROS2. I've looked through the source code, and unless I missed it I don't think this module acutally uses any code from pcl_ros, it just needs PCL.

I've made the necessary changes in my fork: https://github.com/MattSYoung/grid_map/tree/f

[2021-06-23 15:47] SteveMacenski commented on #283
I think that's been covered by the discussion above, but the changes you mention in your PR would be OK by me (make sure to update the rosdep in package.xml). Please remove the specification on the PCL version though. I don't want to have to keep updating that over time and it is explicitly called out in REP2000 what PCL version ships with ROS.

[2021-06-23 19:44] MattSYoung commented on #283
Fair enough, I've made the requested changes. Now my question is, if I issue a PR to `foxy-devel` should I also issue one to `ros2`? (or any other ROS2 branches for that matter?)

[2021-06-23 19:55] SteveMacenski commented on #283
Both foxy and ros2 would be good, I believe that is al

[2021-07-05 08:59] devrite opened #314 "Mismatching version in packages"
In the branches `ros2` and `foxy-devel` some packages do not have conforming versions (i.e., they differ).

See PR #312 for `foxy-devel`

[2021-07-13 02:25] congphase commented on #302
@maity-kgz Instead of installing from source, you can install it with pre-built binary by

` sudo apt install ros-kinetic-costmap-2d `

Have you tried it?

[2021-07-19 01:02] S-konoa opened #315 "How to store point cloud data by 3dLiDAR in the grid"
I want to partition the point cloud data of 3dLiDAR with a grid and process the point cloud in each grid. Therefore, I want to store the point cloud data of the point cloud processing library PCL in the grid created by gridmap_simple_demo (simple_demo.cpp), but I don't know how. Could you please tell me how to add point cloud data to the grid?

[2021-07-19 20:04] maximilianwulf commented on #315
Hey, does elevation mapping do what you want? https://github.com/ANYbotics/elevation_mapping

[2021-07-19 22:32] ulassbin commented on #167
I am having a similar problem with a base_map of 2639 x 3500 size. My gridmap has 5 layers, and the topic is published at a  rate of 0.2 hz.  The code processing this gridmap is around %4 in cpu usage, whereas rviz is at %90-100. I am  not sure if this is a gpu issue, I have controlled the resource usage with htop, maybe a more detailed investigation would point out to the cause.

I have noticed t

[2021-07-25 21:48] S-konoa commented on #315
thank you for reply.
I'll try.

[2021-07-28 00:04] S-konoa opened #316 "about data structure of the gridmap"
What is the data structure of the grid map in simple_demo_node.cpp?
Where is it defined?

[2021-07-28 00:05] SteveMacenski commented on #316
Please ask on ROS Answers or read the code

[2021-07-28 00:05] #316 closed

[2021-08-24 01:33] SivertHavso opened #319 "[ros2] Build fails when using rosbag2 foxy-future version"
The foxy-devel branch of grid_map builds fine against the foxy rosbag2 binary release, however trying to build it against the [foxy-future](https://github.com/ros2/rosbag2/tree/foxy-future) version of rosbag2 fails because of rosbag2_cpp::StorageOptions being replaced by rosbag2_storage::StorageOptions.

`grid_map_ros/src/GridMapRosConverter.cpp: In static member function ‘static bool grid_map::Gr

[2021-08-30 16:26] sgarciav opened #322 "Ray tracing to update grid map?"
I'm currently using the grid map package to keep an updated occupancy grid of free vs non-free space. With each new incoming point cloud I update my grid map by updating the grid cells that correspond to the coordinates in the point cloud (i.e., grid cells not observed by the sensors are not updated).

I'd like to improve the update process and implement ray tracing. The goal is to update the grid

[2021-08-31 11:57] MaverickPeter commented on #322
You may want to refer https://github.com/ZJU-Robotics-Lab/GEM  this repo implements ray tracing in cuda.

[2021-08-31 12:33] pfankhauser commented on #322
There's a [line iterator](https://github.com/ANYbotics/grid_map/blob/master/grid_map_core/include/grid_map_core/iterators/LineIterator.hpp) in Grid Map we have been using to implement simple ray tracing. Maybe this method can provide you with what you need?

[2021-08-31 19:25] sgarciav commented on #322
@pfankhauser sweet thanks! I'll take a look.

[2021-09-04 01:44] lei0907 commented on #279
I use ROS Kinetic and Ubuntu 16.04.Now i face the same issue.Could you give me the low version.thanks

[2021-09-06 11:06] roncapat commented on #283
Any news on ROS2 port status?

[2021-09-06 20:16] sgarciav commented on #322
This line iterator helped a bunch thanks! I'm able to easily iterate in between two points and perform an action of each grid cell.

[2021-09-06 20:16] #322 closed

[2021-09-30 15:49] EricVoll commented on #247
@brunoeducsantos have you ever figured out which yaml-cpp version to use? I am facing the same issue. I've tried 0.6.0, 0.3.0 and 0.2.7 without success so far.

[2021-11-03 01:06] The-Developer-02 opened #325 "pointcloud from rtabmap works but not from gazebo"
Hi, I'm trying to create a map from the point cloud produced by gazebo, if I run it through rtabmap first i end up with a grid map but if I take it directly from Gazebo it fails, without telling me why. Both systems output a PointCloud2, so I don't know why one works and not the other. Thanks for your help, error pasted below:

`[ INFO] [1635901150.006727255, 34.707000000]: Initialized map geometr

[2021-11-05 17:21] maximilianwulf commented on #315
I assume it has worked. Feel free to re-open if you need further assistance.

[2021-11-05 17:21] #315 closed

[2021-11-21 01:37] babatur opened #326 "Calculate traversability of terrain"
Can I calculate roughness and plane normal vector of each grid simultaneously？

[2021-11-23 22:30] kennydedavion opened #328 "grid_map_ros"
Good day. I have a big problem with your package. When I first wanted to do catkin_make, catkin announced dual grid_map_ros packages. Because I downloaded it. So I deleted a package that is not part of your package. But now catkin is unable to find the dependency of grid_map_cv.
How the hell is that possible? When it's all in one package?  Apropo, Your "sudo apt-get install ros-melodic-grid-map" c

[2021-11-25 08:48] maximilianwulf commented on #326
Yes, check out this repo: https://github.com/leggedrobotics/traversability_estimation

[2021-11-25 08:48] #326 closed

[2021-11-25 09:01] maximilianwulf commented on #328
Hi, can you try this fix? https://github.com/ANYbotics/grid_map/pull/327

[2021-11-25 09:04] maximilianwulf commented on #325
Can you build it in `DEBUG` to give more insights?

Could you compare the fields both point clouds have?

[2021-11-25 23:38] kennydedavion commented on #328
Thanks, but it didn't help.
 This package is already downloaded.
More precisely, I screened your entire "grid_map" repo.

In the folder: grid_map_ros, I created the build folder.
 I ran the "cmake .." display inside this folder and the installer can't find the "grid_map_cv" DIR, specifically grid_map_cvConfig.cmake.
 So I can see in the "grid_map_cv" folder in the SRC folder the procedure : rosdep

[2021-11-26 09:00] maximilianwulf commented on #328
Can you try to build it with `catkin build` instead of `catkin_make`?

[2021-11-28 10:18] kennydedavion commented on #328
Im try catkin_build :

Dne pá 26. lis 2021 10:00 uživatel Maximilian Wulf ***@***.***>
napsal:

[2021-12-04 13:21] The-Developer-02 commented on #325
Thanks for getting back to me, I'm still pretty new to this, I think this is what you wanted, I've copied as much as my console would allow, I had to attach as a file as it was too many characters for github

How would you like me to compare them, below is the information I get on each just before the process point cloud command is called, the top info is from rtabmap the bottom is from gazebo, I'

[2021-12-06 11:09] maximilianwulf commented on #325
Hey, sorry, I meant to build it in debug, and then let it crash again `[grid_map_pcl_loader_node-1] process has died `. I think your logs are only related to the build itself.

[2021-12-06 15:06] The-Developer-02 commented on #325
I Built it in debug and then ran it again and I get the same message, no more information at all

`[ INFO] [1638802974.316650710, 209.135000000]: Initialized map geometry
[ INFO] [1638802974.316701183, 209.135000000]: Initialization took: 0.583 sec
[ INFO] [1638802974.317968683, 209.136000000]: Started adding layer: elevation
[grid_map_pcl_loader_node-1] process has died [pid 82330, exit code -11,

[2021-12-06 16:08] maximilianwulf commented on #325
Can you try to open it with a debugger, such as `gdb` ?

[2021-12-06 21:42] The-Developer-02 commented on #325
I think I ran it correctly, this is what I got

`[New Thread 0x7fffe4528700 (LWP 127205)]
[New Thread 0x7fffe3d27700 (LWP 127206)]
[New Thread 0x7fffe3526700 (LWP 127207)]
[New Thread 0x7fffe2d25700 (LWP 127208)]
[ INFO] [1638826746.395586034]: hello from ROS Node: /grid_map_pcl_loader_node
[ INFO] [1638826746.848448682, 23902.467000000]: cloud to processheader: seq: 1475 stamp: 23902233000 frame_

[2021-12-07 14:34] maximilianwulf commented on #325
Hm I think the software crashes while accessing the point cloud with an invalid index, can you display the point cloud coming out of rtabmap in rviz to verify the point cloud exists?

[2021-12-07 14:44] The-Developer-02 commented on #325
Yes, both display absolutely fine in rviz

[2021-12-08 08:35] maximilianwulf commented on #325
Hm, could you share a small bag with the point cloud.  I am a bit out of ideas here what could be the breaking issue.

[2021-12-08 11:36] The-Developer-02 commented on #325
here you go, I think that has worked, I've done both the rtabmap point cloud (which works) and the gazebo point cloud (which doesn't), they're not very long unfortunately as the file would have been too large to upload

[gazebo.bag.gz](https://github.com/ANYbotics/grid_map/files/7675702/gazebo.bag.gz)
[rtabmap.bag.gz](https://github.com/ANYbotics/grid_map/files/7675704/rtabmap.bag.gz)

[2021-12-14 03:47] hanlinhung commented on #279
we are on master branch by default, I've tried "git checkout 1.6.2" and it worked

[2022-01-04 07:32] mitsudome-r commented on #283
@SteveMacenski @Marwan99 @maximilianwulf Any updates? Please let me know if there is anything that I can help with.

[2022-01-04 17:25] SteveMacenski commented on #283
I believe the octomap related work is all that is remaining

[2022-01-04 17:31] wxmerkt commented on #283
There have been updates to Octomap over the holidays thanks to work by @wep21 - `octomap_mapping` is now ported and awaiting binary release, and `octomap_ros` and `octomap_rviz_plugins` have been released into ROS2. Is there something else missing from the octomap-side of things?

[2022-01-04 18:20] SteveMacenski commented on #283
Essentially just enabling the things that use them here, if anything.

[2022-01-06 14:49] wep21 commented on #283
@SteveMacenski @wxmerkt #333 enables octomap demo.

[2022-01-12 05:25] SteveMacenski commented on #283
All items are complete, closing ticket!

[2022-01-12 05:25] #283 closed

[2022-01-12 05:28] SteveMacenski opened #334 "Sync ROS 1 Updates to ROS 2"
https://github.com/ANYbotics/grid_map/pull/245 looks like an automated runner to add PRs for ROS 1 main branch to ROS 2 but hasn't been resolved or merged since the initial port.

@maximilianwulf is there a plan in place for eventually bringing these change in and keeping ROS 2 / ROS 1 in sync? At this point, that PR is incredibly large and would be surprising to me if it was properly working. It

[2022-01-12 09:16] wep21 commented on #283
@SteveMacenski Do you have any plan to release binary for `galactic`?

[2022-01-13 21:27] zlg9folira commented on #279
@maximilianwulf, following up on this issue; versions 1.6.0 and 1.6.2 both work just fine on Kinetic. However, some useful features/examples are added to 1.6.4 including "interpolations". This version doesn't compile on Kinetic. Could anyone work around new features for Kinetic?

[2022-01-27 03:30] BIRL-xu opened #336 "Integrate a static gridmap into a local gridmap"
Hi, I have a static gridmap with size 100mx100m converted from ros occupancy grid map, and a local gridmap with size 20mx10m built online. The local gridmap would be moved with robot.
I want to integrate the grid value in the overlapping area between two maps into the local gridmap. Could you give me some tips how to implement this? I'm a beginner for this great library. Thank you very much!

[2022-01-27 14:56] maximilianwulf commented on #336
Hi @BIRL-xu,

Interesting question, I think you have to work out these questions:

- Align the maps first, is this given?
- Get the corresponding values of the overlapping grid maps. You should be able to calculate overlapping grid cells with `.position()` function and such which can be found in the core library.
- Once you have the overlapping values, you have to think about how to fuse the value

[2022-01-28 00:53] BIRL-xu commented on #336
Thank you for your reply, @maximilianwulf

- I know the transformation between two maps, so I can transform the point in static map to the one in local map.
- I'm not sure if there is an efficient way to find out the overlapping area between two maps, I'm learning class `PolygonIterator` and `SubmapIterator` for this.
- Actually, I'm doing a cost map just like Costmap2D, so I think fuse the grids

[2022-01-28 07:14] Alphastrick opened #337 "Installation for foxy fails"
I've tried to install this package for Ubuntu 20.4 with foxy using

[code]

The package cloud not be found. Do I have do add some repository to the apt registry? Installation for  noetic went fine.

[2022-01-31 08:22] #337 closed

[2022-02-01 11:31] maximilianwulf commented on #279
@zlg9folira if there is enough request we can start a `kinetic-devel` branch that is maintained by the community, would you be up for contributing to it?

[2022-02-01 19:25] The-Developer-02 commented on #325
Have you managed to find anything out? @maximilianwulf

[2022-02-01 20:05] maximilianwulf commented on #325
Hey @The-Developer-02 , no yet sorry.

[2022-02-10 15:59] dgitz opened #338 "For a simple 4x4 map, the rviz plugin only shows a 3x3 grid"
[Map1.txt](https://github.com/ANYbotics/grid_map/files/8042403/Map1.txt)

With the map file above, and running the following command:
rostopic pub -r 1 /gridmap grid_map_msgs/GridMap -f data/grid_map_msgs/GridMap/Map1.txt

Shows a reduced map in the GridMap rviz plugin:
![rviz_screenshot_2022_02_10-09_56_01](https://user-images.githubusercontent.com/5176952/153445950-1aabdc06-1814-4265-9409-bc2c23

[2022-02-13 13:14] dgitz opened #340 "[BUG} GridMap Column Order appears reversed?"
It appears that the Column order in GridMap is reversed.  According to the wiki page, the top left cell should be col = 0, and should positively increment as its iterated to the right.  This can be validated by building up a simple map, and then checking that the conversion from a (col,row) value as col is incremented should make the position value X increase.

However as is shown below, it actual

[2022-02-17 09:40] micco00x commented on #280
I was looking for a solution a few months ago and I've just learned about https://github.com/fmrico/gazebo_gridmap_plugin. Maybe it could be a nice starting point.

[2022-02-21 12:51] Hball99 opened #342 "Translating GridMap using .getTransformedMap()"
Hey there!

I have a GridMap that I want to transform with a rotation matrix and an translation vector. You guys have implemented the getTransformedMap() function for that. The rotation works perfectly fine, but the translation part doesn't do anything so far. I would expect, that if I translate the grid map 20m into one direction, that the 20m into the opposite direction are just NaN or 0, becaus

[2022-03-06 19:15] Richard-LXA opened #343 "ubuntu16.04 compile error"
error: ‘class rviz::DisplayContext’ has no member named ‘getTF2BufferPtr’
     tf_filter_ = new tf2_ros::MessageFilter<MessageType>(*context_->getTF2BufferPtr(), fixed_frame_.toStdString(), 1u, update_nh_);
                                                                     ^~~~~~~~~~~~~~~
In file included from /home/ruoyo16/complex_terrain/catkin_ws/build/grid_map/grid_map_rviz_plugin/include/gr

[2022-03-15 16:53] brunoeducsantos commented on #157
Hi @maximilianwulf  ,
I have the same performance issue.
Iterating over a grid with 10 000 cells and getting the position inside the iterator results in a 40 ms.
[code]

Is there a work around to improve this performance?
Cheers,
Bruno

[2022-03-19 12:42] gustavojoseleite opened #344 "Error when trying to compile on nvidia xavier AGX"
Hi,

I'm having the following error when a tried to compile in the NVIDIA AGX.

catkin_make install -j1 -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/home/nvidia/workspace/install -DCATKIN_WHITELIST_PACKAGES="grid_map_core" -DCMAKE_C_COMPILER=/usr/bin/gcc-6
Base path: /home/nvidia/workspace
Source space: /home/nvidia/workspace/src
Build space: /home/nvidia/workspace/build
Devel space: /home/n

[2022-03-22 10:06] Vinuu428 opened #345 "Compilation issue on foxy"
home/user/gridmap_dep/src/grid_map/grid_map_ros/src/GridMapRosConverter.cpp:278:27: error: ‘to_yaml’ is not a member of ‘geometry_msgs::msg’
  278 |       geometry_msgs::msg::to_yaml(occupancyGrid.info.origin.orientation).c_str());
      |                           ^~~~~~~
/home/user/gridmap_dep/src/grid_map/grid_map_ros/src/GridMapRosConverter.cpp: In static member function ‘static bool grid_map:

[2022-03-26 19:45] sarahnator opened #346 "[grid_map_pcl] pointcloud_publisher_node not found, yaml parameters not loaded"
Hi,

I followed the instructions in the grid_map_pcl readme to convert a pointcloud into a grid map, but ran into two issues:

- When I run `roslaunch grid_map_pcl grid_map_pcl_loader_node.launch` I get back an error that the executable pointcloud_publisher_node was not found or needs to be set to executable with +x (I'm not sure if this is the issue, but pointcloud_publisher_node.cpp does not app

[2022-03-28 08:52] rosrookie commented on #292
Works for me too, thanks. This happens on ros melodic.

[2022-03-28 11:49] 1r0b1n0 commented on #338
Hi, I think this is expected behavior : each intersection between the black lines represent a "cell".
Nevertheless I agree this is a bit counterintuitive.

If for example we change the first cell to "1.0" instead "0.1", one can easily visualize this :
![image](https://user-images.githubusercontent.com/8554513/160391301-80abce72-c0f5-42d1-bc1f-8a266573039c.png)

[2022-03-28 12:47] AlexReimann commented on #213
Maybe interesting for others:

https://github.com/tu-darmstadt-ros-pkg/grid_map_proc/pull/1

[2022-04-06 17:21] wwdafandian commented on #345
Hi, @Vinuu428  I got the exact same error. Have you figured it out?

[2022-04-07 12:36] #345 closed

[2022-04-07 12:37] Vinuu428 commented on #345
Yes. my ROS2 version and git branch are not compatible. choose the right branch and pull the code

[2022-05-03 19:27] maximilianwulf commented on #334
At the moment not really. It slipped a bit through my to-do list :thinking:

TBH at this point I would actually keep it open and then just cherry-pick the code delta.

[2022-05-03 19:37] maximilianwulf commented on #280
@micco00x wow, I was not aware of it. Thank you.

[2022-05-04 15:43] maximilianwulf commented on #340
Does the chapter `Conventions and definitions` in the [README](https://github.com/ANYbotics/grid_map#conventions--definitions) clarify your question?

[2022-05-26 02:47] park12345666666 opened #352 "ubuntu 18.04 cmake error"
grid_map_ros/src/GridMapRosConverter.cpp: In static member function ‘static bool grid_map::GridMapRosConverter::fromOccupancyGrid(const OccupancyGrid&, const string&, grid_map::GridMap&)’:
/home/park/gcamp_ws/src/grid_map/grid_map_ros/src/GridMapRosConverter.cpp:228:33: error: ‘const OccupancyGrid’ {aka ‘const struct nav_msgs::OccupancyGrid_<std::allocator<void> >’} has no member named ‘info’
   c

[2022-05-30 11:47] maxime-clem commented on #213
I reimplemented the `PolygonIterator` using a scan line algorithm like @zoojing suggested.
It performs several orders of magnitude faster and behaves almost exactly like the current implementation. Differences only occur when a polygon edge exactly crosses the center position of a grid cell.
https://github.com/autowarefoundation/autoware.universe/tree/main/common/grid_map_utils

[2022-06-10 17:42] macTracyHuang opened #353 "2.5D grid map to 2d grid map"
I'm new to mapping, and am able to convert my pcd file genereated from SLAM now.
I was wondering if there is a way to generate a 2D grid map from pcd file directly or from the 2.5D grid map generated by grid_map_pcl?

I noticed there is a grid_map_filter package that can outout occupancy map , I'm not sure if I can use it to filter the 2.5D map.

Any suggestion will be appreciated.

thanks

[2022-06-11 02:42] fangchengji opened #354 "Why getClosestPositionInMap() returned position can not pass isInside()?"
I use grid map in move mode. And I have some points beyond the boundry of grid_map. So I use getClosestPositionInMap() to get a position in map. But I found this API may get a position which can not pass isInside(). For example, the grid map is 5m*5m, and I have a point at position (6, 7). getClosestPositionInMap() returns a point at (4.9, 4.9), but this point may also return false when passing it

[2022-06-11 03:54] fangchengji commented on #354
This case may also happens in inside point, such as (2, 3), after use move() API.

[2022-06-14 18:27] Krasjet-Yu opened #355 "Cmake error about TBB"
Why this error happens after the installation ?

`CMake Error at grid_map/grid_map_filters/CMakeLists.txt:35 (find_package):
  By not providing "FindTBB.cmake" in CMAKE_MODULE_PATH this project has
  asked CMake to find a package configuration file provided by "TBB", but
  CMake did not find one.

  Could not find a package configuration file provided by "TBB" (requested
  version 2020.1) with any

[2022-06-15 07:16] maximilianwulf commented on #355
Hey, Intel oneAPI changed its API of TBB. So we decided to fix it for the officially supported Ubuntu 20.04 debian package, and for noetic.

On what system are you compiling?

[2022-06-15 12:06] maximilianwulf commented on #170
Does https://github.com/ANYbotics/grid_map/blob/master/grid_map_core/include/grid_map_core/GridMap.hpp#L324 help you ?

[2022-06-15 12:08] maximilianwulf commented on #355
Basically, `sudo apt install libtbb-dev` could/should solve the issue.

We only support Ubuntu 20.04 and Noetic at the moment.

On my machine I have the following installed:

[code]

[2022-06-15 13:44] Smiffe opened #356 "PolygonIterator reads outside the buffer which causes exception"
Hi!

I found following bug during using `PolygonIterator`. There's case where iterator reads outside the buffer which causes exception. It happens when GridMap geometry is quite big and polygon lie on map border near axis border (x,y = 0). Here's example which can be added to `PolygonIteratorTest.cpp` to see the issue:

[code]
Running this test in `Release` ends up with:
[code]
when running it in

[2022-06-15 14:28] Krasjet-Yu commented on #355
Finally I commented out the TBB.

[2022-06-15 16:19] martinakos commented on #170
I need to transform the gridmap out of plane, as my world frame is set by a VIO system and may not be axis aligned with the floor. I solved the problem by creating a moving tf frame for where I want my gridmap in the world and using that one as frame_id then setting the pose to zero.

[2022-06-16 13:03] EricChen2013 opened #357 "ubuntu 20.04 cmake error"
[code]

[2022-06-17 09:27] maximilianwulf commented on #170
Thanks, then this issue can be closed?

[2022-06-17 09:45] maximilianwulf commented on #357
Can you check if `logging_interface_` exists?

[code]

[2022-06-17 09:46] maximilianwulf commented on #355
Okay, also valid.

I guess

[code]

would have worked in your case. But it is not necessary.

[2022-06-17 09:46] #355 closed

[2022-06-17 10:42] Magnusgaertner commented on #353
Hi @macTracyHuang,

I am sure you have read the readme for https://github.com/ANYbotics/grid_map/tree/master/grid_map_pcl.

Can you clarify your goal? grid_map_pcl converts a point cloud into a 2D grid containing a height value per cell.
Do you want to have a binary, 2D grid that represents occupancy? In this case you can threshold the height values using grid_map_filters/ThresholdFilter.

Best
Ma

[2022-06-17 12:18] martinakos commented on #170
Yes, it can be closed. Thanks.

[2022-06-17 12:26] #170 closed

[2022-06-23 13:20] martinakos commented on #170
I have a problem with the separate moving tf frame solution. I first broadcast a moving tf frame for the elevation map. Then I publish the GridMap using the frame_id of my moving frame. Then I publish some other marker information that is synchronised with the elevation map, but that I can publish on the world frame. In Rviz I always see the elevation map with a delay with respect to the other mar

[2022-06-24 12:52] StefanFabian opened #358 "Changelogs have newer version than packages"
Hi,
we're using Debian packages for grid_map but since we want to stay with the state of the master, we build them ourselves.
Your recent merge has added changelogs for a version 1.7.0 but the packages are at 1.6.10.
Unfortunately, bloom doesn't like that at all and the builds fail.

Is there a reason why you've added empty changelog entries for a version that doesn't exist?

[2022-06-27 10:54] rooshm opened #359 "Improving Performance of GridMapCvConverter::toImage and addLayerFromImage on large grids"
on a 501x501 gridmap, the toImage function takes about 200ms on an i7-8700 CPU. Same is true for the addLayerFromImage for the same. I need to perform a behaviour similar to the one illustrated in the opencv_demo, using OpenCV's functions to perform manipulations on a layer and save as another layer.

On a look at the source code, the iterators can be parallelised with TBB (as used in in grid_map_

[2022-06-27 11:30] Winliam opened #360 "Cant compile master branch"
Could not find a package configuration file provided by "costmap_2d" with
  any of the following names:

    costmap_2dConfig.cmake
    costmap_2d-config.cmake

  Add the installation prefix of "costmap_2d" to CMAKE_PREFIX_PATH or set
  "costmap_2d_DIR" to a directory containing one of the above files.  If
  "costmap_2d" provides a separate development package or SDK, be sure it has
  been install

[2022-06-27 11:35] patripfr opened #361 "Robot-Centric Elevation Mapping + Grid Map SDF"
Hi,
I'm using the elevation_mapping package to create a grid map from point clouds and I want to use the grid_map_sdf functionality to create an SDF out of it. I'm following the [demo](https://github.com/ANYbotics/grid_map/blob/master/grid_map_demos/src/SdfDemo.cpp#L40-L55) for the conversion and visualization.

While to robot is in the XY origin, this works fine and the elevation map and the sdf

[2022-06-27 12:45] maximilianwulf commented on #361
Looks like a indice mismatch to me.

How do you trigger re-computation of the sdf after the robot has moved?

[2022-06-27 13:15] patripfr commented on #361
Calling `convertToDefaultStartIndex()` fixed it! Thanks a lot!

[2022-06-27 13:15] #361 closed

[2022-06-28 09:48] maximilianwulf commented on #358
Should be fixed. Can you check again?

[2022-06-28 14:12] StefanFabian commented on #358
Yes, builds again. Thanks for the quick fix! :)

[2022-06-28 14:12] #358 closed

[2022-07-04 03:06] Kin-Zhang opened #362 "GridMapPclConverter consume really long time from polygonmesh2gridmap"
![image](https://user-images.githubusercontent.com/35365764/177074183-e7415375-b3a5-45bc-ab5d-e0c12033c06c.png)

first, it will build mesh through vdbfusion, but when I convert it to PCL polygon mesh with filtered a number of points also, but it still consumes lots of time, I'm wondering that is it normal for this script converter? through I knew the converter did ray intersection with each mesh o

[2022-07-04 07:35] maximilianwulf commented on #362
I guess the bottleneck is

[code]

How big is your mesh?

[2022-07-04 11:20] Kin-Zhang commented on #362
as the figure shows, the mesh has 1287 vertices, each vertice has three other vertices' id which is the for loop one.

I assume the same thing. but it still costs too much time, just wried... maybe also the ray intersection on all polygons

[2022-07-04 15:46] maximilianwulf commented on #362
you can try to find the the hotspot with `Intel vtune`.

[2022-07-07 04:50] #362 closed

[2022-07-07 06:28] narutojxl opened #363 "grid map alignment [feature]"
Hello, authors,
If I have a local grid_map, i want to alignment it with the global grid map created by some 2d slam system. Do we already have implemented this function in the lib?
Thanks for your reply and help.

[2022-07-08 12:36] maximilianwulf commented on #363
Does https://github.com/ANYbotics/grid_map/blob/master/grid_map_core/include/grid_map_core/GridMap.hpp#L324 do what you want?

[2022-07-09 01:15] narutojxl commented on #363
thanks a lot, closed it now.

[2022-07-09 01:15] #363 closed

[2022-07-26 05:41] BruceXSK opened #367 "Compiling error "undefined reference to YAML""
An error occured while compiling:

[code]

I handled this error by adding `find_package(yaml-cpp)` to `grid_map/grid_map_pcl/CMakeLists.txt`

But I'm curious doesn't anyone else have this problem? I didn't find any mention about this in issues or PR.

[2022-08-01 06:42] son-youngwoo opened #368 "Can this source get a Signed Distance Field through multi-elevation map using Lidar sensor?"
hello!
First of all, thank you for openning very useful source code!

I'm trying to use this code, but I have 1 question.

I am using Lidar sensor and want to detect overhanging obstacles.

So I want to use Signed Distance Field through multi-elevation map like what to do in the paper, [Perceptive whole body planning for multi-legged robots in confined spaces] or [Walking posture adaptation for le

[2022-08-05 10:38] martinakos commented on #170
Shall I repost my last message as a new feature request issue?

[2022-08-18 11:47] StefanFabian opened #369 "[BUG] GridMapDisplay: GridMaps not shown before enable toggle"
System: Ubuntu 20.04
ROS: Noetic

For some time, the GridMap plugin would not show the GridMap until the display was once disabled and enabled.
This is due to the `reset_` flag defined [here](https://github.com/ANYbotics/grid_map/blob/bb636e6d85bfb118ed9c1e466e69491d3b5a0f7d/grid_map_rviz_plugin/include/grid_map_rviz_plugin/GridMapDisplay.hpp#L70) and used [here](https://github.com/ANYbotics/grid_

[2022-09-01 00:14] s-hliao opened #370 "grid_map_octomap library missing SHARED tag"
`add_library(${PROJECT_NAME}
  src/GridMapOctomapConverter.cpp
)`

The add_library call in CMakeLists.txt for the grid_map_octomap package does not include a SHARED tag resulting in the following error when the package is included.

`warning: relocation against `_ZTVN7octomap14AbstractOcTreeE' in read-only section `.text._ZN7octomap14AbstractOcTreeD2Ev[_ZN7octomap14AbstractOcTreeD5Ev]`

[2022-09-03 18:55] pgarcia-dev opened #371 "Unable to build grid_map because can't find pcl_ros. Under ROS2 Foxy and using the branch ros2"
Hello,

I post here the url where I explain the problem I'm facing and I wrote in ROS answers: https://answers.ros.org/question/405833/unable-to-build-grid_map-because-cant-find-pcl_ros/

Thanks

[2022-09-05 17:35] RaamRosik commented on #371
Use the branch foxy-devel

[2022-09-06 18:13] pgarcia-dev commented on #371
Thank you! Now I was able to build grid_map And execute the demos 👌

[2022-09-07 14:12] FischerGundlach opened #372 "Let toImage and addLayerFromImage propagate raw values"
For working with other 3rd party libraries, e.g. OpenCV, I would like to convert a layer of floating precision data type to a raw copy of the underlying data.

Like described [here](https://github.com/ANYbotics/grid_map/issues/89#issue-209496708), if the data at a cell evaluates `std::isfinite` to false, its value in the conversion is zero. Furthermore, scaling takes place when converting to and f

[2022-09-12 12:35] Jaeyoung-Lim commented on #352
@park12345666666 In order to use ROS melodic, you need to use a different branch: https://github.com/ANYbotics/grid_map/tree/melodic-devel

[2022-09-15 12:45] P1terQ opened #375 "can't see gridmap in rviz"
My device is Ubuntu18.04. Grid map works fine in my packages before. However, after i catkin_make the grid_map package, gridmap can't be visualized in the rivz anymore.  What's more, except the simple_demo.launch, there is nothing in the rviz after i click the gridmap choice in all other launch files in the grid_nap package.

[2022-09-24 12:33] #375 closed

[2022-10-23 08:37] rahulr-iiitd commented on #223
@ahertle
Can you please tell me how you did that? I have a rectangular region that I need to iterate over, and some part of it is outside the map.

[2022-10-28 08:27] alexMarFar commented on #371
Hi! I have the same problem but I cannot seem to solve it.

I have tried following the Readme from ros2 branch and got the "Package 'pcl_ros' specified with --packages-up-to was not found" message. After finding this issue I tried with th foxy-devel branch, following the read me commands and even modifying the line "wget https://raw.githubusercontent.com/ANYbotics/grid_map/ros2/tools/ros2_dependen

[2022-10-28 10:34] pgarcia-dev commented on #371
 Hello Alejandra,
I finally solved the problem using the branch foxy-devel instead of the ros2 one.

I closed a ticket I opened on Ros answers: https://answers.ros.org/question/405833/unable-to-build-grid_map-because-cant-find-pcl_ros/

Best regards,
Pablo
On 28 Oct 2022 at 10:28 +0200, Alejandra M. Fariña ***@***.***>, wrote:

[2022-10-29 05:21] hzyhuter opened #377 "How to use MedianFillFilter?"
I want to learn how to use Median Fill Filter, especially how to determine the input layer and the output layer.

[2022-11-02 16:41] sasilva1998 commented on #165
Hi, I installed `grid_map` using apt but I am getting the same issue regarding `opencv`. I am using noetic and ubuntu 20. How could I fix it?

[2022-11-08 11:03] Mobilepayload commented on #207
@NeilNie Can you explain on the procedure how you generated the costmap or preferably your script file?

[2022-11-30 19:21] ArghyaChatterjee commented on #357
Were you able to solve it ?